<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments for Camp Eagle</title>
	<atom:link href="http://bashdog.com/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://bashdog.com</link>
	<description>Change Forever. Now.</description>
	<lastBuildDate>Mon, 26 Jun 2017 16:21:42 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.5</generator>
</channel>
</rss>
