/* ==== BEGIN shared.css ============================================================================================= */
/* ==== BASE ============================================================================================= */
	* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline: $none-i;}
	.cf:before, .cf:after {content:""; display:table;}
	.cf:after, .clear {clear:both;}
	.cf {*zoom:1;}
	html, body {width: 100%; height: 100%; margin: 0; padding: 0;}
	ul {list-style: none; padding-left: 0; margin: 0;}
	a {text-decoration: none; color: $default-link-color; outline: 0;}
	a:hover {-webkit-transition: all 0.2s linear; transition: all 0.2s linear;}
	input:focus {outline: 0;}
	img {display: block; max-width: 100%; height: auto;}

	.display-none, .no-touch-device, .touch-only, .mobile-only, summary::-webkit-details-marker, .mobile-head-social {display: none;}
	.padded {padding: 1em;}
	.screen-reader-text {display: none;} 
	blockquote {
		margin: 0; background-color: #ebebeb; border-left: 2px solid #49545b; padding: .3em 1em; font-style: italic;
		cite {color: #666; font-size: .8em; display: block;}
		}

	.pullquote {
		width: 50%;
		span {overflow: hidden; display: block;  font: 400 2.3em $font-alt; line-height: .8em;}
	}
	.pullquote.left {margin: 0 1.5em 1.5em -3em; border-left: 1px solid $red; padding-left: 1em; float: left;}	
	.pullquote.right {margin: 0 -3em 1.5em 1.5em; border-right: 1px solid $red; padding-right: 1em; float: right;}		
		
		
	.entry-content li {margin-bottom: $i-margin-b;}
	
	.site-ad {max-width: 300px; margin: 0 auto; text-align: center;}
	.ad-txt {
		margin-top: 8px; color: #fff; font-size: 0.750em; font-weight: 600;
		a {color: #fff; text-decoration: underline;}
		a:hover {color: $red;}
	}	
	.mobile-ad {min-width: 320px; margin: 0 auto; text-align: center;}	
	.mobile-txt {
		margin: 8px 0 1em 0; color: #000; font-size: 0.750em; font-weight: 600;
		a {color: #000; text-decoration: underline;}
		a:hover {color: $red;}
	}		
	
	
	.stage {background-color: #000;}		
	.wnetvid_player {margin-bottom: 1em;}		
	.video-wrap {
		position: relative;  padding-bottom: 62.5%; /* padding-bottom: 56.25%; */
		iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden;}
	}
	.video-wrap.no-topbar {padding-bottom: 56.25%;}
	.embed-youtube {
		position: relative;  padding-bottom: 62.5%; /* padding-bottom: 56.25%; */
		iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden;}
	}
	
	.round {-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}
	.uc {text-transform: uppercase;}
	.passport-icon {
    	padding: 0 3% 2% 3%;
		img {width: 1em;}
		img.shadow {-webkit-filter: drop-shadow(rgba(0,0,0,0.9) 1px 1px 6px); filter: drop-shadow(rgba(0,0,0,0.9) 1px 1px 6px);}
	}
	
	@media screen and ( max-width: $max-width ){
		.max-only {display: none;}
		}
		
	h1,h2,h3,h4 {margin: 0; font-weight: normal;}	
	
/* ==== END BASE ============================================================================================= */


/* ==== WORDPRESS INLINE POST BODY IMAGE ALIGNMENT  ===================== */
	img.alignleft, img.alignright, img.aligncenter {margin-bottom: 1.625em;}
	p img {margin-top: 0.4em;}
	.wp-caption {
		margin: 0 0 0 0; max-width: 100%; color: $font-caption-color; font: $font-caption; line-height: 20px;
		img {display: block; margin: 0 0 7px 0; }
		.wp-caption-text {margin: 0; padding: 0; max-width: 96%;}
	}	
	.gallery-caption {color: $font-caption-color; font: $font-caption; line-height: 20px;}	
	body.single-blog .wp-caption {text-align: center;}
	.alignleft {display: inline; margin: 0 1em 1em 0; float: left;}
	.alignright {display: inline; margin: 0 0 1em 1em; float: right;}
	.aligncenter {clear: both; display: block; margin-left: auto; margin-right: auto;}
/* ==== END WORDPRESS INLINE POST BODY IMAGE ALIGNMENT =========================== */


/* ==== GENERAL PAGE/POST LAYOUT ============================================================================================= */
body {font: 400 100% 'Dosis'; color: #000; background-color: #eaeaea; overflow-x: hidden;}

.cw {max-width: $max-width; margin: 0 auto;}
.alttxt {font-family: $font-alt;}
.shadow { text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.83);}


#masthead {
	color: #fff; padding: 1em 0;
	a {color: #fff;}
	.logo {width: 30%; float: left;}
	nav {
		width: 70%; float: left; text-align: right; text-transform: uppercase; @include centerer(false, true); right:0;
		li {display: inline; margin-left: 1em; font-size: 1.813em; border-bottom: 2px solid transparent; -webkit-transition: all 0.2s linear; transition: all 0.2s linear;}
		li:hover, li.current-menu-item {border-bottom: 2px solid $red;}
	}
	.logo-nav {position: relative;}
	.menutoggle {float: left; font-size: 1.813em; margin-top: 3%;}
}
#masthead.alt {
	background-color: $gray; 
	.logo img {max-height: 100px;}
}

#footer {
	background-color: $gray; color: #fff; padding: 1.5em 0; font-size: 1.125em; font-weight: 600;
	a {color: #fff; border-bottom: 2px solid transparent;}
	a:hover {border-bottom: 2px solid $red;}
	.foot-l {width: 40%; float: left; margin-right: 3%;}
	.foot-r {width: 57%; float: left; text-align: right; text-transform: uppercase;}
	.footer-menu {
		li {display: inline; margin-left: .5em;}
	}
}

.parallax-window {background: transparent; position: relative; padding: 0; overflow: hidden;}

.tt-button {background: $red; color: #fff; border: 0; text-transform: uppercase; -webkit-transition: all 0.2s linear; transition: all 0.2s linear;}
.tt-button:hover {background: #000;}
.tt-button.opacity {background: $red-opacity; -webkit-transition: all 0.2s linear; transition: all 0.2s linear;}
.tt-button.opacity:hover {background: $red; }

.trans { -webkit-transition: all 0.2s linear; transition: all 0.2s linear;}

/* ==== END GENERAL PAGE/POST LAYOUT ============================================================================================= */




/* ==== NEXT/PREV POST NAVIGATION ==================================================================== */
.post-navigation {
	padding: 1.5em 0;
	a {color: #000;}
	a:hover {color: $red;}
	.nav-links {overflow: hidden; font-weight: 600;}
	.fa { color: $gray;}
	.nav-links-previous {width: 50%; padding:0 1.5em 0 0; float: left; border-right: 1px solid $red;}
	.nav-links-next {width: 50%; text-align: right; padding: 0 0 0 1.5em; float: right;}

	.nav-links-post-title {font-size: 1.3em; font-weight: 600;}
	.nav-links-label {font-size: 1.125em; font-weight: 600; display: block; color: $red; text-transform: uppercase;}
	}
.post-nav-wrap {background-color: #eaeaea;}
/* ==== END NEXT/PREV POST NAVIGATION ============================================================= */

/* ==== PAGING ============================================================= */
	.paging-navigation {
		.page-numbers {background-color: #ccc; border: 1px solid #ddd; padding: .3em; display: inline-block; color: #000;}
		.page-numbers.current {background-color: #fff; border: 1px solid #ddd;  color: #000;}
		.page-numbers.dots {background-color: #fff; border: 0;}
		.page-numbers:hover {background-color: $site-color1; color: #fff;}
	}
	
/* ==== END PAGING ============================================================= */




.ajax-button { 
	text-align: center; margin-bottom: 2em; border-top: 1px solid #000;
	button {@extend .tt-button; padding: 2% 3%; font-size: 1.8em; font-weight: 600;}
}
.ajax-button.ajax-load-updates {margin-left: 19%; }

	
		





.home-question {
	text-align: center;
	button { font-size: 2.500em; font-weight: 600; padding: .1em 2em;}
	.line1 {font-size: 1.563em; font-weight: 600; line-height: 1em; text-transform: uppercase;}
	.line2 {font-size: 4em; line-height: 1em; font-weigth: bold; margin-bottom: 12px;}
}


.home-about {
	margin: -3em auto 0 auto; width: 90%; color: #fff; padding: 6% 4%; background: $gray url('../images/about-texture.jpg'); background-size: cover;
	.about-l {float: left; width: 65%; margin-right: 3%;}
	.about-r {float: left; width: 32%;}
	h2 {font-size: 2.500em; font-weight: 400; margin-bottom: .3em;}
	p {font-size: 1.563em; margin: 0 0 1em 0;}
	button {font-size: 1.250em; font-weight: 600; padding: .5em;}
}


.home-updates {
	h3 {font-size: 2.500em; font-weight: 600;}
	h4 {font-size: 1.563em; font-weight: 600;}
	.updates-l {
		float: left; width: 63%; margin-top: 2em; background: #000; color: #fff; text-align: center; padding: 1em 0;
		figure {
			position: relative;
			.overlay {@include centerer(true,true); }
		}
		.icons {
			font-size: 2.5em; margin-top: .3em;
			a {margin: 0 .2em; color: #fff;}
			a:hover {color: $red;}
		}
	}
	.updates-r {
		float: left; width: 37%; background-color: #fff; padding: 3em;
		button {font-size: 1.250em; font-weight: 600; padding: .5em;}
	}
	ul {
		margin: 0; padding: 0; list-style-type: none;
		li {border-bottom: 1px solid #000; padding: 1.5em 0;}
		li:last-of-type {border:0;}
		a {color: #000;}
		a:hover {color: $gray;}
		.title {font-size: 1.563em; font-weight: 600;}
		.meta {text-transform: uppercase; font-size: 1.125em; font-weight: 600;}
	}
}


.home-section {margin-bottom: 1.5em;}


/* video slider */
.home-video {padding: 1em 0;}
.video-slider {
	margin: 0 1em; position: relative;
	.item {
		margin: 0 1em; position: relative;  float: left; height: auto;
		a {color: #000;}
		figure {
			position: relative;  font-size: 1.125em; color: #fff; text-transform: uppercase; overflow: hidden;
			img {width: 100%; height: auto; filter: grayscale(100%); @extend .img-grow;}
			.time {display: inline-block; position: absolute; bottom: 0; left: 0; background: $red-opacity; padding: .3em .5em; font-weight: 600;}
		}
		.txt-wrap {
			margin-top: .5em;
			.title {font-size: 1.563em; font-weight: 600;}
		}
		
	}	
	.item:hover img {filter: grayscale(50%);  @extend .img-grow-hover;}
	.videos-prev, .videos-next {position: absolute; top: 35%; font-size: 3em; z-index: 999; border: 0; color: $gray; background: transparent;}
	.videos-prev:hover, .videos-next:hover {color: $red;}	
	.videos-prev {left: -.5em;}	
	.videos-next {right: -.5em;}	
}
/* END video slider */


.page {
	background-color: #fff;
	.page-header {
		background-color: #000; color: #fff; padding: 2em; text-align: center;
		h1 {font-size: 5em; line-height: 1em;}
	}
	.entry-content {font-size: 1.125em; line-height: 1.3em;}
	
}
.page.share-story .page-header {
	padding-bottom: 0;
	h1 {font-size: 6.875em;}
}


.article {
	background-color: #fff;
	.page-header {
		color: #000; padding: 2em; text-align: center;
		h1 {font-size: 5em; line-height: 1em;}
	}
	.entry-content {font-size: 1.125em; line-height: 1.3em;}
}



.single-post {
	background-color: #fff;
	header {
		margin: 1.5em 0;
		h1 {font-size: 4.063em; line-height: 1em; overflow: hidden;}
		.meta {font-size: 1.125em; line-height: 1.3em; font-weight: 600;}
		.tags {
			font-size: 1.125em; font-weight: 600; color: $red; 
			a {color: $red; display: inline; text-transform: capitalize;}
			a:hover {color: $gray !important;}
		}
	}
	.post-max {max-width: 800px; margin: 0 auto;}
	.page-banner {
		img {width: 100%; height: auto;}
		figcaption {color: #555; text-transform: uppercase; font-size: 1em; font-weight: 600; margin-top: .7em;}
	}
	.page-content {background-color: #fff;}
	.entry-content {
		font-size: 1.250em; line-height: 1.3em; font-weight: 600;
		h2 {font-family: $font-alt; font-size: 2.500em;}
		h3 {font-family: $font-alt; font-size: 2em;}
	}
}


.page-template-page-ask .article {
	.page-header {
		background-color: #fff; color: #252829; padding: 3em 0 0 0;
		h1 {font-size: 6.875em; line-height: 1em;}
		h2 {font-size: 2.5em; line-height: 1.3em; margin-bottom: 1em;}
	}
	.entry-content {
		max-width: 768px; padding: 0 3%; margin: 0 auto 3em auto; text-align: center; color: #252829;
		p {font-size: 2.5em; line-height: 1.3em; margin: 0 0 1em 0;}
		.ask-name, .ask-message {font-size: 3.438em; line-height: 1.3em;}
		.ask-message {font-size: 3em;}
		.asks {font-size: 1.563em; margin: .6em 0; font-weight: 600;}
		.share-question {text-transform: uppercase; color: $red; font-size: 2.500em; font-weight: 600; margin: 1.5em 0 .5em 0;}
		.addthis_toolbox {
			a {color: #000; font-size: 3em; margin: 0 12px;}
		}
	}
	
	
}

.fscf-div-form {
	.fscf-div-label {text-align: left; text-transform: uppercase; font-weight: 600; font-size: 1.2em; margin-bottom: .2em;}
	input[type='text'], textarea { font-size: 1.2em; background-color: #ececec; border: 1px solid #ececec; margin-bottom: 1em; width: 100%; padding: 6px;}
	textarea {height: 200px;}
	input[type='submit'] {@extend .tt-button; font-size: 2em; font-weight: 600; width: 60%; padding: .4em 0;}
	input[type='submit']:hover {@extend .tt-button:hover; opacity:1; filter:alpha(opacity=100);}
	.fscf-div-captcha-m {
		text-align: center;
		img {margin: 0 auto;}
	}
	#fscf_captcha_field1 {text-align: center;}
	input.fscf-input-captcha {width: 50%; text-align: center;}
	#fscf_required1 {text-align: right;}
}



.comments-wrap {
	background-color: #fff; padding: 1.5em 0;
	a {color: $red;}
	a:hover {color: $gray;}
}


#archive {
	background-color: #fff;
	.archive-header {
		background-color: #eaeaea; color: $red; padding: 1em 0; text-align: center;
		h1 {font-weight: 600; font-size: 1.6em; text-transform: uppercase;}
	}
	main {}
	.archive-posts {padding: 1.5em 0; max-width: 800px; margin: 0 auto;}
	article {
		.date {
			float: left; width: 14%; margin-right: 5%; color: #fff; text-align: center; font-size: 1.563em; font-weight: 600; text-transform: uppercase;
			.y {font-size: .7em; font-weight: 400;}
		}
		.content {
			float: left; width: 81%; border-bottom: 1px solid #000; padding-bottom: 2em; margin-bottom: 2em;
			header,figure {margin-bottom: 1em;}
			h2 {
				font-size: 4.063em; line-height: .8em;
				a {color: #000;}
				a:hover {color: $red;}
			}
			.meta {font-size: 1.250em; font-weight: 600;  text-transform: uppercase;}
			.entry-content {font-size: 1.250em; line-height: 1.4em; font-weight: 600;}
			.more-link {color: $red; }
			.more-link:hover {color: $gray; }
			p {margin: 0;}
		}
	}
	article:last-of-type .content {margin-bottom: 0; border: 0;}
}


.circle {position: relative; display: inline-block; width: 100%; height: 0; padding: 50% 0; border-radius: 50%; background-color: #000; line-height:0;}


.share-row { 
	margin-bottom: 1.5em; border-top: 1px solid $red; padding-top: 1.5em;
	section {float: left; width: 50%; text-align: center;}
	h4 {font-weight: 600; font-size: 1.250em;}
	.share-services {
		font-size: 2em;
		a {color: #000; margin: 0 .5em;}
		a:hover {color: $red;}
	}
}
.share-row.comm-1 section:first-of-type {border-right: 1px solid $red;}