/* ==== BASE ============================================================================================= */

	.no-desktop, .touch-only {display: none;}
	.no-touch-device {display: block;}
	.snap-content {position: static;}
	.snap-drawer {/*display: none;*/}
	.site-title {max-width: 421px; }
	
	.pullquote span {font-size: 2.7em;} 
	.pullquote.left {margin: 0 1.5em 1.5em -3em;}	
	.pullquote.right {margin: 0 -3em 1.5em 1.5em;}	
	
/* ==== END BASE ============================================================================================= */


	.home-question {
		width: 60%; margin: 0 auto; @include centerer(true, true);
	}

	 .parallax-window {min-height: 700px;}
	  .parallax-window.page-banner {min-height: 500px;}

	
	  
	  
	  
@media screen and ( max-width: $max-width ) {
	.touch-inset {padding: 0 1%;}
	#masthead nav { right:1%;}
	.home-question {width: 80%;}
}
