@media screen and ( max-width: $mob-min ) {

	#pbs_id {padding-top: 0 !important;}

/* ==== BASE ============================================================================================= */
	#snapwrap {margin-top: $snapPBSmarginMobile;} 
	.screen-pad {padding: 0 3%;}
	.no-mobile, .no-touch-device {display: none !important;}
	.touch-only, .mobile-only {display: block;}
	.mobile-only-inline {display: inline-block !important;}
	.padded {padding: 3%;}
	.mob-100 {width: 100% !important;}
	.touch-inset {padding: 0 3%;}
	#site {padding: 0;}

	
	.pullquote {
		width: 100%; text-align: center; float: none !important;
		span {font-size: 2em; color: $gray;} 
	}
	.pullquote.left, .pullquote.right {
		margin: 0 1.5em 1.5em 0; border: 1px solid $red; border-left:0; border-right:0; padding: 1em 0;
	}	
	
	
/* ==== END BASE ============================================================================================= */	
	

	#masthead {
		padding: 3% 0;
		.logo {width: 25%; float: none; margin: 0 auto; }
	}

	#footer {
		padding: 5% 0; font-size: .8em;
		.touch-break {display: block; margin-top: .3em; font-size: 2em;}
		.foot-l {margin: 0 0 1em 0; text-align: center;}
		.foot-r {text-align: center;}
		.footer-menu li {margin: 0 .25em;}
	}
	
	.home-question {
		padding-top: 7%; padding-bottom: 7%;
		button {font-size: 1.2em;  padding: .4em 1.5em;}
		.line1 {font-size: 1.125em;}
		.line2 {font-size: 2.5em;}
	}
	
	.home-about {
		margin-top: -1em; width: 100%; text-align: center;
		.about-l {margin: 0 0 1.5em 0;}
		p {font-size: 1.125em;}
	}


	.home-updates {
		h3 {font-size: 1.7em;}
		h4 {font-size: 1em;}
		.updates-l {
			padding: .5em 0; margin: 0 0 1.5em 0;
			.icons {font-size: 1.4em;}
		}
		.updates-r {padding: 1em;}
	}
	
	
	/* video slider */
	.video-slider {
		margin: 0; 
		.item {
			margin: 0; 
			figure {font-size: 1em;}
			.txt-wrap .title {font-size: 1.125em;}
		}	
		.videos-prev, .videos-next {top: 30%; font-size: 3em; color: $red-opacity; padding: .1em .3em;}
		.videos-prev {left: 0;}	
		.videos-next {right: 0;}	
	}
	/* END video slider */
	
	
	.page {
		.page-header {
			padding: 3%; 
			h1 {font-size: 2.5em;}
		}
		.entry-content {font-size: 1em;}
	}

	
	.page-template-page-ask .article {
		.page-header {
			padding: 2em 0 0 0;
			h1 {font-size: 3.5em;}
		}
		.entry-content p {font-size: 1.5em;}
	}
	
	
	
	
	#archive article {
		.mob-date {display: inline !important;}
		.pipe {color: $red;}
		.content {
			width: 100%; 
			h2 {font-size: 2.5em;}
			.meta {font-size: 1em;}
			.entry-content {font-size: 1em;}
		}
	}
	
	
	
	
	.ajax-button.ajax-load-updates {margin-left: 0; }
	
	
	.share-row { 
		margin: 0;
		section { width: 100%; margin-bottom: 1.5em;}
	}
	.share-row.comm-1 section:first-of-type {border:0;}

	
	
	
/* ==== NEXT/PREV POST NAVIGATION ==================================================================== */
.post-navigation {
	text-align: center;
	.fa { display: none;}
	.nav-links-previous {width: 100%; padding:0; border: 0;}
	.nav-links-next {width: 100%; text-align: center; padding: 1.5em 0 0 0;}
}
/* ==== END NEXT/PREV POST NAVIGATION ============================================================= */
	
	
	
	
}
