/* ==== BEGIN print.css ============================================================================================= */

@media print {

/* currently blank */


#stickyhead, 
#sharepage, 
#morefeatures,
#disqus_thread,
.footer-social,
.footer-menu-site,
.footer-menu-pbs,
.video-wrapper
{display: none;}



.footer-credits {width: 100%;}
.inset {padding: 0;}


.single #content:after, .single-video #content:after {display: none;}

}

/* ==== END print.css ============================================================================================= */