/* Hide scroll bar */
html.remodal-is-locked {overflow: hidden;}
/* Anti FOUC */
.remodal, [data-remodal-id] {display: none;}
/* Necessary styles of the overlay */
.remodal-overlay {position: fixed; z-index: 9999; top: -5000px; right: -5000px; bottom: -5000px; left: -5000px;  display: none;}
/* Necessary styles of the wrapper */
.remodal-wrapper { position: fixed; z-index: 10000; top: 0; right: 0; bottom: 0; left: 0; display: none; overflow: auto; text-align: center; -webkit-overflow-scrolling: touch;}
.remodal-wrapper:after { display: inline-block;  height: 100%; margin-left: -0.05em; content: "";}
/* Fix iPad, iPhone glitches */
.remodal-overlay, .remodal-wrapper {  -webkit-backface-visibility: hidden;  backface-visibility: hidden;}
/* Necessary styles of the modal dialog */
.remodal { position: relative;  -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%;}
.remodal-is-initialized { /* Disable Anti-FOUC */  display: inline-block;}



/*
 *  Remodal - v1.0.2
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */

/* Default theme styles for the background */

.remodal-bg.remodal-is-opening, .remodal-bg.remodal-is-opened {  -webkit-filter: blur(3px);  filter: blur(3px);}
/* Default theme styles of the overlay */
.remodal-overlay {  background: rgba(0, 0, 0, 0.93); z-index: 9999999998; }
.remodal-overlay.remodal-is-opening, .remodal-overlay.remodal-is-closing {  -webkit-animation-fill-mode: forwards;  animation-fill-mode: forwards;}
.remodal-overlay.remodal-is-opening {  -webkit-animation: remodal-overlay-opening-keyframes 0.3s;  animation: remodal-overlay-opening-keyframes 0.3s;}
.remodal-overlay.remodal-is-closing {  -webkit-animation: remodal-overlay-closing-keyframes 0.3s;  animation: remodal-overlay-closing-keyframes 0.3s;}
/* Default theme styles of the wrapper */
.remodal-wrapper {  padding: 10px 10px 0; z-index: 9999999999;}
/* Default theme styles of the modal dialog */

.remodal {
  -webkit-box-sizing: border-box;  box-sizing: border-box;  width: 100%;  margin-bottom: 10px;  padding: 1em;  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);  color: #2b2e38; background: #fff;  text-align: center;
  }
  
 .remodal.video { color: #fff; background: transparent; margin: 0; padding: 0;  } 
  

.remodal.remodal-is-opening, .remodal.remodal-is-closing {  -webkit-animation-fill-mode: forwards;  animation-fill-mode: forwards;}
.remodal.remodal-is-opening {  -webkit-animation: remodal-opening-keyframes 0.3s;  animation: remodal-opening-keyframes 0.3s;}
.remodal.remodal-is-closing {  -webkit-animation: remodal-closing-keyframes 0.3s;  animation: remodal-closing-keyframes 0.3s;}
.remodal, .remodal-wrapper:after {  vertical-align: middle;}

/* Close button */

.remodal-close {  position: absolute;  top: -17.5px;  right: -17.5px;  display: block;  overflow: visible;  width: 35px;  height: 35px;  margin: 0;  cursor: pointer; text-decoration: none; border: 0; outline: 0; font-size: 20px; background-color: $red; color: #fff; line-height: 35px; z-index: 999999; text-align: center;}
.remodal-close:hover {background-color: #000;}

 .remodal.video .remodal-close {
 	float: right; position: relative; right: 0; top: 0;
 }


/* Keyframes
   ========================================================================== */

@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;
  }
}

@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;
  }
}

@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;
  }
}

@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;
  }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media queries
   ========================================================================== */

@media only screen and (min-width: 641px) {
  .remodal {  max-width: 700px; }
  .remodal.video {max-width: 75%;}
}

@media only screen and (max-width: 768px) {
  .remodal.video {max-width: 100%;} 
}
/* IE8
   ========================================================================== */

.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
  width: 700px;
}
