.share-story-wrapper {}

.sys-form-head {
	background-color: #000;
	.title {display: none;}
	.teaser {
		width: 100%; color: #fff; text-align: center; margin-bottom: 1.5em;
		.dek {max-width: 600px; margin: 0 auto; font-size: 2em; font-weight: 600;}
	}
	.form-right {
		width: 100%; text-align: center;
		.togglesysform {@extend .tt-button.opacity; display:inline-block; width: 250px; margin: 0 auto; font-size: 1.4em; font-weight: 600; padding: .5em;}
		.togglesysform:hover {@extend .tt-button.opacity:hover; opacity:1; filter:alpha(opacity=100);}
	}
}

#shareyourstory {
	margin: 1.5em 0;
	.sys-form {
		max-width: 475px; margin: 0 auto; border: 0; padding: 0;
		.form-left {width: 100%;}
		.form-right {width: 100%;}
		label {text-transform: uppercase; font-weight: 600; font-size: 1.2em;}
		input, textarea { font-size: 1.2em; background-color: #ececec; border: 1px solid #ececec;}
		textarea {height: 300px;}
		button {@extend .tt-button; font-size: 2em; font-weight: 600;}
		button:hover {@extend .tt-button:hover; opacity:1; filter:alpha(opacity=100);}
	}
}

#story-wall-wrap {background-color: #000;}
#sys-story-wall {max-width: $max-width; margin: 0 auto; padding-top: 2em;}



/* story box */
.storybox {
	background: #fff; border: 0; 
	.photo {padding: 1em 1em 0 1em; background-color: #fff;}
	.pad {padding: 1em;}
	h2.name {font-size: 1.6em; font-weight: 600; color: $red;}
	h3.location {color: #000; font-size: 1.125em; font-weight: 600;}
	p {font-size: 1.125em; color: #000;}
	.share-prompt {@extend .tt-button;  padding: .5em 0 .5em .8em; font-size: 1.125em; font-weight: 600;}
	.share-prompt:hover {color: #fff; @extend .tt-button:hover;}
}
/* END story box */


.sys-thanks {
	margin-top: 1em;  text-align: center; color: #2b2c2c;
	h1 {font-size: 6.875em; @extend .alttxt; line-height: 1em;}
	p {font-size: 1.3em; line-height: 1.3em;}
}



.remodal.sys {
	background-color: #e4dddd;
	.remodal-close {color: #000;}
}


.single-share .sys-single {
	margin: 0;
	.entry-header {
		max-width: $tab-max; margin: 1.5em auto 1em auto;  padding: 0 3%; border: 0;
		h1 {font-size: 2em; font-weight: 600; color: $red; text-transform: uppercase;}
		h3 {color: #000; font-size: 1.125em; font-weight: 600; text-transform: uppercase;}
	}
	p {margin: 0 0 1em 0;}	
	.entry-content p {margin: 0 0 1em 0;}
	img {max-width: 100%; height: auto;}
	

	.sys-photo, .content-wrap {float: none; max-width: $tab-max; margin: 0 auto 0 auto; padding: 0 3%;}
	
	.sys-photo.horizontal, .content-wrap.horizontal {margin: 0 auto 1.5em auto;}

	
	.sys-photo.vertical {width: 45%; margin: 0 3% 0 0;}
	.content-wrap.vertical {width: 52%; margin: 0;}
	
	
	.see-all-sys {
		margin: 1em 0;
		a {display: block; width: 100%; margin: 0 auto; padding: .5em; text-align: center; color: #fff; background-color: #666; font-size: 1.1em;}
		a:hover {background-color: #000;}
	}
	.post-navigation .nav-links {border-bottom: 0;}
}


.sys-single .sys-form-head .title.inform {
	display: block;  @extend .alttxt; padding: 1em 0; font-size: 1em; line-height: 1em;
	a {color: #fff; font-size: 5em; line-height: 1em;}
}

.see-all-sys-top {display: none;}
.see-all-sys {text-transform: uppercase; font-weight: 600;}

@media screen and ( max-width: $mob-min ) {
	#story-wall-wrap {padding: 3%;}
	#sys-story-wall {padding-top: 2%;}
	.sys-form-head {margin: 0;}
	#shareyourstory {padding: 0 3%;}
	
	.sys-form-head .teaser {
		margin-bottom: 1em;
		.dek {font-size: 1.125em;}
	}
	
	
}