@import '_variables';

/* ==== BEGIN snap.css ============================================================================================= */

.snap-drawer-left {display: none; margin-top: $snapPBSmargin;}
.snap-content, .snap-drawer {position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
.snap-content {z-index: 2;}



	
/* only add this when menu open as "webkit-overflow-scrolling" breaks scroll to top. */
body.snapjs-left {
	.snap-drawer {overflow: auto; -webkit-overflow-scrolling: touch;}
	.snap-drawer-left {display: block; left: 0; top: 0;}
}

/* add special classes for sticky menu */
	.snap-drawer-left.sticky {position: fixed; margin-top: 0; left: 0;  z-index: 9999999;  overflow: auto; -webkit-overflow-scrolling: touch;}	
	.snap-drawer-left.sticky .nav-menu {margin-top: 0;}
/* END add special classes for sticky menu */	


.snap-drawer {
	background: #000; font: 400 1.2em 'Source Sans Pro', sans-serif; text-transform: uppercase; height: auto; overflow: auto; width: 266px; 	z-index: 1;
	ul {padding: 0;}
	li {border-bottom: 1px solid #333;}
	li a {display: block; padding: .8em; font-weight: 400; text-decoration: none; color: #fff;}
	.sub-menu {
		display: none; font-size: .8em; clear: left; border-top: 1px solid #333;
		li {border-bottom: 1px solid #333;}
		li:last-of-type {border-bottom: 0;}
		li a {display: block; padding: .8em .9em; text-decoration: none; color: #fff; background-color: #1c1c1c;}
		}
	a.parent-nav {width: 75%; float: left;}
	a.sub-menu-toggle {float: right; width: 20%; border-left: 1px solid #333; padding: .8em 0; display: block; color: #fff; cursor: pointer; text-align: center;}
	.current-menu-item .sub-menu {display: block;}
	.current-menu-parent .sub-menu {display: block;}
}


/* ==== END snap.css ============================================================================================= */