@media screen and ( min-width: $tab-min ) and ( max-width: $tab-max ) {

/* ==== BASE ============================================================================================= */
	#snapwrap {margin-top: $snapPBSmargin;}
	.screen-pad {padding: 0 2%;}
	.no-tablet, .no-touch-device {display: none !important;}
	.touch-only {display: block;}
	.padded {padding: 2%;}
	.touch-padding {padding: 1% 2%;}
	.touch-inset {padding: 0 2%;}
	#site {padding: 0;}
	#innerwrap.padded {padding: 2%;}
	
	.pullquote.left {margin: 0 1.5em 1.5em -1.5%;}	
	.pullquote.right {margin: 0 -1.5% 1.5em 1.5em;}	
	
/* ==== END BASE ============================================================================================= */


	#masthead {
		padding: 2% 0;
		nav { right:2%;}
		.logo img {max-height: 130px;}
	}
	
	
	#footer {
		padding: 4% 0;
		.touch-break {display: block; margin-top: .3em; font-size: 2em;}
		.foot-l {width: 100%; margin: 0 0 1em 0; text-align: center;}
		.foot-r {width: 100%; text-align: center;}
		.footer-menu li {margin: 0 .25em;}
	}
	

	.home-question {width: 80%; margin: 0 auto; padding-top: 3em; padding-bottom: 4em;}

	.home-about {
		margin-top: -1.5em; width: 95%;
		.about-l {width: 100% !important; margin: 0;}
	}

	
	.home-updates {
		h3 {font-size: 2em;}
		h4 {font-size: 1.3em;}
		.updates-l {
			width: 55%; margin-top: 1em; padding: 1em 0;
			.icons {
				font-size: 1.5em; 
				a {margin: 0 .4em;}
			}
		}
		.updates-r {width: 42%;}
	}
	
	
	/* video slider */
	.video-slider {
		.item {
			margin: 0 .5em;
			figure {font-size: 1em;}
			.txt-wrap .title {font-size: 1.125em;}
		}	
		.videos-prev, .videos-next {top: 25%; font-size: 3em;}
	}
	/* END video slider */
	
	
	
	#archive article .date {font-size: 1.25em;}
	
	
	

}