$gray: #191b1c;
$red: #f02d52;
$red-opacity: rgba(240, 45, 82, 0.7);




$site-color1: #6b722a;
$site-color2: #c8323d;
$site-color3: #535918;

$desk-min: 901px;
$mob-min: 480px;
$tab-min: 481px;
$tab-max: 900px;
$max-width: 1280px;

$none-i: none !important;

$text-shadow-dark: 1px 1px 6px #000;

$medgray: #333333;
$darkgray: #1c1c1c;
$overlaybg: rgba(255, 255, 255, 0.8);
$overlaybg-med: rgba(41, 47, 42, 0.6);
$overlaybg-dark: rgba(0, 0, 0, 0.8);

$overlaybg-orange: rgba(228, 111, 39, 0.8);
$overlaybg-white: rgba(255, 255, 255, 0.8);
$overlaybg-purple: rgba(142, 163, 212, 0.8);



$stickybg: rgba(51, 51, 51, 0.95);


$content-bg-dark: #292f2a;

$font-default: 400 1em 'Dosis', arial;
$font-alt: 'Gurajada';

$font-normal: 1em ;
$font-med: 1.3em ;
$font-small: .7em;
$font-caption: normal 15px 'Dosis';
$font-caption-color: #1a1a1a;
$font-navbar: 400 1.3em 'Dosis';
$font-tagline: normal 22px 'Dosis';

$default-link-color: #575078;
$default-text-color: #1e1e1e;


$snapPBSmargin: 53px;
$snapPBSmarginMobile: 50px;

$footer-txt-color: #fff;
$footer-a-color: #fff;

$nav-bg: $content-bg-dark;
$nav-highlight: #6b722a;
$nav-hover: $site-color1;
$nav-text: #fff;
$sub-nav-hover: $site-color1;
$nav-border: #767a77;



$post-nav-border: #353535;

$i-margin-b: 1em;
$i-padding-b: 1em;


$border-color: #666;
$default-text-background: $medgray;


@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

.img-grow {-webkit-transition: all 0.5s linear; transition: all 0.5s linear; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1);}
.img-grow-hover {-webkit-transform: scale3d(1.05, 1.05, 1); transform: scale3d(1.05, 1.05, 1);}