

/* ==== KEEPWATCHING/EXPIRED VIDEO CHOICES ================================================================ */
.morechoices {
  border: 1px solid $border-color;
  font: $font-default;    
  color: $default-text-color;
  background: $content-bg-dark !important;
  padding: 0 0 4em 0;
  margin: 0 0 1em 0;
  img {width: 100%; height: auto;}
  a {
    color: $default-text-color;
  }
  h2, h3, h4 {

    font-weight: 300;
  }
  h2 {
    background: #000;
    padding: 1.25em 1em;
    margin: 0;
    font-size: 2em;
	color: $site-color1 !important;
  }
  
	.more-top {
		background-color: #fff; padding: 1.25em 1em;
		.more-top-left {float: left; width: 40%; font-size: 2em; color: $site-color1;}
		.more-top-right {
			float: left; width: 60%; text-align: right; margin-top: .25em;
			a {cursor: pointer;}
			.common-share {display: inline; float: right;}
			.label {font-size: 1.5em; color: $site-color1; border: 0;}
			li {margin-right: .5em;}
			li:last-of-type {margin-right: 0;}
		}
	}
  
  
  .choice {
    width: 50%;
    padding: 2.5em 2em 2em 2em;
    h4 {
      margin: 0;
      padding: .5em 0;
      font-size: 1.2em; 
      font-weight: 400;
	  color: #fff;
    }
    .choiceimage {
      position: relative;
    }
    div.overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      width: 100%;
      padding: 1em;
      background-color: $overlaybg;
    }
    h3 {

      padding: 0;
      margin: 0;
	  	  font: 600 1.3em 'Dosis'; line-height: 1.2em;
    }
    p {
      padding: 0;
      margin: 0;
    }
  } 
  .leftchoice {
    float: left;
    padding-right: 1em;
    h4 {
      background-color: $site-color1;
      padding: .5em .5em;
    }
  }
  .rightchoice {
    float: right;
    padding-left: 1em;
  }
}
/* ==== END KEEPWATCHING/EXPIRED VIDEO CHOICES  ================================================================ */
