﻿@font-face {
  font-family: 'Montserrat Light';
  src: local('Montserrat-Thin.otf'), url('../fonts/montserrat/Montserrat-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'Montserrat Bold';
  src: local('Montserrat-SemiBold.otf'), url('../fonts/montserrat/Montserrat-SemiBold.otf') format('opentype');
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular.otf'), url('../fonts/montserrat/Montserrat-Regular.otf') format('opentype');
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

a:focus {
    outline: thin dotted
}

a:active,
a:hover {
    outline: 0
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-weight: normal
}

h1 {
    font-size: 2em;
    margin: 0;
    font-family: 'Montserrat Bold';
    text-transform: uppercase;
}

h2{
    font-family: 'Montserrat Bold';
    text-transform: uppercase;
}

h3 {
    font-size: 1.2em;
    font-family: 'Montserrat Bold';
}

.alttxt,
.sys-thanks h1,
.sys-single .sys-form-head .title.inform {
    font-family: 'Montserrat Bold';
}

title{
    text-transform: lowercase;
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-family: 'Montserrat Bold';
    font-weight: bold;
}

dfn {
    font-style: italic
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

mark {
    background: #ff0;
    color: #000
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em
}

pre {
    white-space: pre-wrap
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

.error-404{
    min-width: 100%;
    margin: auto;
    text-align: center;
    padding: 2em;
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button,
input {
    line-height: normal
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.snap-drawer-right {
    display: none;
    margin-top: 0
}

.snap-content,
.snap-drawer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.snap-content {
    z-index: 2;
    left: 0
}

body.snapjs-right .snap-drawer {
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

body.snapjs-right .snap-drawer-right {
    display: block;
    right: 0;
    top: 0
}

.snap-drawer-right.sticky {
    position: fixed;
    margin-top: 0;
    right: 0;
    z-index: 9999999;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.snap-drawer-right.sticky .nav-menu {
    margin-top: 0
}

.snap-drawer {
    background: #483a29;
    font: 400 1.2em 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    height: auto;
    overflow: auto;
    width: 266px;
    z-index: 1
}

.snap-drawer ul {
    padding: 0
}

.snap-drawer li {
    border-bottom: 1px solid #917563
}

.snap-drawer li a {
    display: block;
    padding: .8em;
    font-weight: 400;
    text-decoration: none;
    color: #fff
}

.snap-drawer .sub-menu {
    display: none;
    font-size: .8em;
    clear: right;
    border-top: 1px solid #333
}

.snap-drawer .sub-menu li {
    border-bottom: 1px solid #333
}

.snap-drawer .sub-menu li:last-of-type {
    border-bottom: 0
}

.snap-drawer .sub-menu li a {
    display: block;
    padding: .8em .9em;
    text-decoration: none;
    color: #fff;
    background-color: #1c1c1c
}

.snap-drawer a.parent-nav {
    width: 75%;
    float: left
}

.snap-drawer a.sub-menu-toggle {
    float: right;
    width: 20%;
    border-left: 1px solid #333;
    padding: .8em 0;
    display: block;
    color: #fff;
    cursor: pointer;
    text-align: center
}

.snap-drawer .current-menu-item .sub-menu {
    display: block
}

.snap-drawer .current-menu-parent .sub-menu {
    display: block
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none !important
}

.cf:before,
.cf:after {
    content: "";
    display: table
}

.cf:after,
.clear {
    clear: both
}

.cf {
    *zoom: 1
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0
}

a {
    text-decoration: none;
    color: #31b1bc;
    outline: 0
}

.entry-content a {
    text-decoration: underline;
}

a:hover {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear
}

input:focus {
    outline: 0
}

img {
    display: block;
    max-width: 100%;
    height: auto
}

.display-none,
.no-touch-device,
.touch-only,
.mobile-only,
summary::-webkit-details-marker,
.mobile-head-social {
    display: none
}

.padded {
    padding: 1em
}

.screen-reader-text {
    display: none
}

blockquote {
    margin: 0;
    background-color: #ebebeb;
    border-left: 2px solid #49545b;
    padding: .3em 1em;
    font-style: italic
}

blockquote cite {
    color: #666;
    font-size: .8em;
    display: block
}

.pullquote {
    width: 50%
}

.pullquote span {
    overflow: hidden;
    display: block;
    font: 400 2.3em "Montserrat";
    line-height: .8em
}

.pullquote.left {
    margin: 0 1.5em 1.5em -3em;
    padding-left: 1em;
    float: left
}

.pullquote.right {
    margin: 0 -3em 1.5em 1.5em;
    padding-right: 1em;
    float: right
}

.entry-content li {
    margin-bottom: 1em
}

.site-ad {
    max-width: 300px;
    margin: 0 auto;
    text-align: center
}

.ad-txt {
    margin-top: 8px;
    color: #fff;
    font-size: 0.750em;
    font-weight: 600
}

.ad-txt a {
    color: #fff;
    text-decoration: underline
}

.ad-txt a:hover {
    color: #f02d52
}

.mobile-ad {
    min-width: 320px;
    margin: 0 auto;
    text-align: center
}

.mobile-txt {
    margin: 8px 0 1em 0;
    color: #000;
    font-size: 0.750em;
    font-weight: 600
}

.mobile-txt a {
    color: #000;
    text-decoration: underline
}

.mobile-txt a:hover {
    color: #f02d52
}

.stage {
    background-color: #000
}

.wnetvid_player {
    margin-bottom: 1em
}

.video-wrap {
    position: relative;
    padding-bottom: 62.5%
}

.video-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.video-wrap.no-topbar {
    padding-bottom: 56.25%
}

.embed-youtube {
    position: relative;
    padding-bottom: 62.5%
}

.embed-youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.uc {
    text-transform: uppercase
}

.passport-icon {
    padding: 0 3% 2% 3%
}

.passport-icon img {
    width: 1em
}

.passport-icon img.shadow {
    -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.9) 1px 1px 6px);
    filter: drop-shadow(rgba(0, 0, 0, 0.9) 1px 1px 6px)
}

@media screen and (max-width: 1280px) {
    .max-only {
        display: none
    }
}

img.alignleft,
img.alignright,
img.aligncenter {
    margin-bottom: 1.625em
}

p img {
    margin-top: 0.4em
}

.wp-caption {
    margin: 0 0 0 0;
    max-width: 100%;
    color: #1a1a1a;
    font: normal 15px "Montserrat";
    line-height: 20px
}

.wp-caption img {
    display: block;
    margin: 0 0 7px 0
}

.wp-caption .wp-caption-text {
    margin: 0;
    padding: 0;
    max-width: 96%
}

.gallery-caption {
    color: #1a1a1a;
    font: normal 15px "Montserrat";
    line-height: 20px
}

body.single-blog .wp-caption {
    text-align: center
}

.alignleft {
    display: inline;
    margin: 0 1em 1em 0;
    float: left
}

.alignright {
    display: inline;
    margin: 0 0 1em 1em;
    float: right
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto
}

body {
    font: 400 100% 'Montserrat';
    color: #483a29;
    background-color: #ffffff;
    overflow-x: hidden
}

.cw {
    max-width: 1280px;
    margin: 0 auto;
    border-left: 1px solid #E2E3E4;
    border-right: 1px solid #E2E3E4;
}

.cw-header {
    background-color: #483a29;
}

.cw-header-menu{
    z-index: 9999;
    position: relative;
}

.cw-header-parallax {
    max-width: 1280px;
    margin: 0 auto;
    vertical-align: bottom;
}

.shadow {
    text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.83)
}

#masthead {
    color: #fff;
    padding: 0;
    margin-bottom: 0;
}

#masthead a {
    color: #fff
}

#masthead a:hover {
    color: #ddd
}

#masthead .logo {
    width: 40%;
    float: left;
    padding-top: .6em;
    padding-left: .8em;
}

#masthead nav {
    /*float: left;*/
    text-align: right;
    text-transform: uppercase;
    /*position: absolute;*/
    top: 15%;
}

#masthead nav li {
    display: inline-block;
    margin-left: 0;
    font-size: 1.6em;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear
}


#masthead .logo-nav, #masthead .links-nav {
    position: relative;
    font-size: 10px;
    padding: 1em 0 0;
}

#masthead .logo-nav {
    margin: 1em 0;
    padding: 0 2em;
}

#masthead .main-navigation .menu-item{
    padding: 1em 1.0%;
}

#masthead .main-navigation .menu-item a{
    padding: 1em 0;
}

#masthead .main-navigation .sub-menu .menu-item{
    padding: 0;
}

#masthead .logo-nav .main-navigation {
    padding: 1em 1em 0;
}

#masthead .logo-nav .main-navigation .ex-links {
    padding: 0;
    font-size: 0.8em;
    font-weight: bold;
}

#masthead .logo-nav .main-navigation .ex-links li{
    margin: 0 1em;
}

#masthead .logo-nav .main-navigation .ex-btns {
    padding: 1em 1em 0;
}

#masthead .links-nav .main-navigation {
    width:100%;
    background-color: #fff;
    font-size: 10px;
    padding: 0;
    text-align: center; 
}

#masthead .links-nav .main-navigation a{
    color: #483a29;
    font-weight: 700;
}

#masthead nav li:hover,
#masthead nav li.current-menu-item,
#masthead .links-nav .main-navigation a:hover,
#menu-topnav .active a,
#menu-topnav .menu-active li:hover a,
#menu-topnav .menu-active li{
    color: #31b1bc!important;
    cursor: pointer;
}

.clear-both{
    clear: both;
}

#menu-topnav .sub-menu {
    display: none;
    clear: both;
    border: 3px solid #31b1bc;
    width: 30%;
    position: absolute;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: left;
    font-size: 0.8em;
    padding: 0;
    z-index: 9999;
}

#menu-topnav .menu-active {
    display: block;
}

#menu-topnav .menu-deactive {
    display: none;
}

#menu-topnav .sub-menu li {
    font-size: .9em;
    border-bottom: 0;
    padding: .6em 0;
    width: 100%;
}

#menu-topnav .sub-menu li a {
    display: block;
    padding: 0.5em 1em!important;
    text-decoration: none;
    color: #fff!important;
}


#masthead .menutoggle {
    float: right;
    font-size: 2.813em;
    margin: 1% 0;
    display: none;
}

#masthead.alt {
    background-color: #191b1c
}

#masthead.alt .logo img {
    max-height: 100px
}

#footer {
    background-color: transparent;
    color: #fff;
    padding: 0;
    font-size: 1.125em;
    font-weight: 600
}

#footer .cw{
    background-color: #483a29;
}

#footer a {
    color: #fff;
    border-bottom: 2px solid transparent
}

#footer li:hover a {
    color: #fff;
    cursor: pointer;
}

#footer .foot-l {
    width: 64%;
    float: left;
    margin-right: 0;
    padding: 1em 1em 1em 2em;
    min-height: 80px;
}

#footer .foot-l a {
    color: #917563;
}

#footer .foot-l .foot-sub-r {
    float: right;
}

#footer .foot-l .foot-sub-l {
    float: left;
    width: 50%;
}

#footer .foot-l .foot-sub-l img{
    width: 100%;
}

#footer .foot-l .r-top {
    top: 30px;
    position: relative;
    width: 20%;
}

#footer .foot-l .m-top {
    top: 40px;
    position: relative;
    width: 28%;
    text-align: center;
}

#footer .foot-l .top .footer-menu{
    font-size: 1.2em
}

#footer .foot-l .bottom .footer-menu{
    font-size: .7em;
    padding: 1em 0;
}

#footer .foot-l .top, #footer .foot-l .bottom{
    width: 100%;
    float: left;
}
#footer .foot-l .bottom{
  padding: 0 1em;
}
#footer .foot-l .social [class*="fa fa-"] {
    background-color: #917563;
    border-radius: 30px;
    color: #483a29;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
}

#footer .foot-l .social [class*="fa fa-"]:hover{
    background-color: #fff;
}

#footer .foot-r {
    width: 35%;
    float: right;
    text-align: right;
    text-transform: uppercase;
    padding: 0;
}

#footer .foot-r .logo img{
    width: 100%;
    max-width: 450px;
}

#footer .foot-m {
    color: #fff;
    background-color: #31b1bc;
    text-align: center;
    float: left;
    width: 100%;
    padding: 1em 0;
    font-size: 0.8em;
}

#footer .footer-menu li {
    display: inline;
    margin-left: 0em
}

#footer .bottom .footer-menu li {
    margin: 0 0.5em;
}

.parallax-window {
    background: no-repeat top center fixed;
    position: relative;
    padding: 0;
    overflow: hidden;
    background-size: cover;
    /*background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%);*/
}

.tt-button,
.ajax-button button,
.fscf-div-form input[type='submit'],
#shareyourstory .sys-form button,
.storybox .share-prompt {
    background: #f02d52;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear
}

.tt-button:hover,
.ajax-button button:hover,
.fscf-div-form input[type='submit']:hover,
#shareyourstory .sys-form button:hover,
.storybox .share-prompt:hover {
    background: #000
}

.tt-button.opacity,
.ajax-button button.opacity,
.fscf-div-form input.opacity[type='submit'],
.sys-form-head .form-right .togglesysform,
#shareyourstory .sys-form button.opacity,
.storybox .opacity.share-prompt {
    background: rgba(240, 45, 82, 0.7);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear
}

.tt-button.opacity:hover,
.ajax-button button.opacity:hover,
.fscf-div-form input.opacity[type='submit']:hover,
.sys-form-head .form-right .togglesysform:hover,
#shareyourstory .sys-form button.opacity:hover,
.storybox .opacity.share-prompt:hover {
    background: #f02d52
}
.tt-play-button{
    color: #fff;
    background: transparent;
    border: none;
    font-size: 1.5em;
    font-weight: normal;
    padding: 0;
    letter-spacing: 0.01em;
}
.tt-donate-button,
.tt-signin-button,
.tt-more-button,
.tt-subscribe-button,
.tt-learn-more-button{
    padding: .6em 1em;
    color: #fff;
    border-bottom:none;
    min-width: 120px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.tt-donate-button{
    background-color: #4db569;
    border: 3px solid #4db569;
}

.tt-donate-button a{
    color: #fff!important;
    border: none;
}

.tt-signin-button{
    background-color: transparent;
    border: 3px solid #359ba1!important;
    margin: 0 .5em;
}

.tt-more-button{
    background-color: transparent;
    border: 3px solid #fff!important;
}

.tt-learn-more-button{
    background-color: transparent;
    border: 3px solid #4db569!important;
    color: #333;
}

.tt-subscribe-button{
    background-color: transparent;
    border: 3px solid #359ba1!important;
    min-width: 160px;
}

.tt-button-mobile{
    display: none
}

.tt-more-button:hover{
    background: #fff!important;
}

.tt-more-button.blue:hover{
    color: #31b1bc!important;
}

.tt-more-button.green:hover{
    color: #4db569!important;
}

.tt-more-button.brown:hover{
    color: #483a29!important;
}

.tt-more-button.red:hover{
    color: #d53b3e!important;
}

.tt-signin-button:hover, .tt-subscribe-button:hover{
    background: #359ba1!important;
    color: #fff!important;
}

.tt-donate-button:hover, .tt-learn-more-button:hover{
    background: #348C49!important;
    border: 3px solid #348C49!important;
    color: #fff!important;
}

.tt-donate-button:hover a, .tt-learn-more-button:hover a, .tt-signin-button:hover a, .tt-subscribe-button:hover a{
    color: #fff!important;
}

.trans {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear
}

.post-navigation {
    padding: 1.5em 0
}

.post-navigation a {
    color: #000
}

.post-navigation a:hover {
    color: #f02d52
}

.post-navigation .nav-links {
    overflow: hidden;
    font-weight: 600
}

.post-navigation .fa {
    color: #191b1c
}

.post-navigation .nav-links-previous {
    width: 50%;
    padding: 0 1.5em 0 0;
    float: left;
}

.post-navigation .nav-links-next {
    width: 50%;
    text-align: right;
    padding: 0 0 0 1.5em;
    float: right
}

.post-navigation .nav-links-post-title {
    font-size: 1.3em;
    font-weight: 600
}

.post-navigation .nav-links-label {
    font-size: 1.125em;
    font-weight: 600;
    display: block;
    color: #f02d52;
    text-transform: uppercase
}

.post-nav-wrap {
    background-color: #eaeaea
}

.paging-navigation .page-numbers {
    background-color: #ccc;
    border: 1px solid #ddd;
    padding: .3em;
    display: inline-block;
    color: #000
}

.paging-navigation .page-numbers.current {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #000
}

.paging-navigation .page-numbers.dots {
    background-color: #fff;
    border: 0
}

.paging-navigation .page-numbers:hover {
    background-color: #6b722a;
    color: #fff
}

.ajax-button {
    text-align: center;
    margin-bottom: 2em;
    border-top: 1px solid #000
}

.ajax-button button {
    padding: 2% 3%;
    font-size: 1.8em;
    font-weight: 600
}

.ajax-button.ajax-load-updates {
    margin-left: 19%
}

.home-question {
    text-align: right;
    width: auto;
    margin: 0 auto;
    position: absolute;
    top: 42%;
    right: 28%;
    /*transform: translate(-40%, -40%)*/
}

.home-question .line1 {
    font-size: 1.563em;
    font-weight: 600;
    line-height: 1em;
    text-transform: uppercase
}

.home-question .line2 {
    font-size: 4em;
    line-height: 1em;
    margin-bottom: 12px;
    width: auto;
    float: right;
    clear: both;
    font-family: "Montserrat Light";
}

.home-question .line2 p{
  margin: 0;
  padding: 0;
}

.home-question a{
    float: right;
    width: 100%;
}

.home-mission {
    margin: auto;
    width: 100%;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    background: #31b1bc;
}

.home-message {
    margin: auto;
    width: 65%;
    color: #483a29;
    padding: 1em;
    text-align: center;
    background: #ffffff;
}

.home-message .message-l{
    font-size: 1.4em;
    color: #483a29;
    font-weight: 700;
    float: left;
    width: 65%;
}

.home-message .message-l p{
    padding: 0;
    margin: 0.2em 0;
}

.home-message .message-r{
    float: right;
    width: 30%;
}

.home-message .message-r a{ 
    color: #31b1bc;
}

.home-about {
    margin: auto;
    width: 100%;
    color: #fff;
    padding: 4% 0;
    /*background: #191b1c url("../images/River-1024x683.jpg");*/
    background-size: cover;
    filter: grayscale(50%);
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), url('../images/River-1024x683.jpg');
}

.home-about .about-l {
    float: left;
    width: 100%;
    text-align: center;
    padding: 0 5em;
}

.home-about .about-l p{
    font-size: 1em;
    padding: 0;
}

.home-about .about-r {
    float: left;
    width: 32%
}

.home-about h2 {
    font-size: 2.500em;
    font-weight: 400;
    margin-bottom: .3em
}

.home-about p {
    font-size: 1.563em;
    margin: 0
}

.home-about button {
    margin-top: 1em;
}

.home-featured{
    position: relative;
}

.home-featured ul{
    width: 100%;
}

.home-featured ul li{
    width: 25%;
    height: 320px;
}

.home-featured ul li img{
    width: 100%;
}

.home-featured ul li.feat-a{
    background: #000 url("../images/feat-a.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.home-featured ul li.feat-b{
    background: #000 url("../images/feat-b.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.home-featured ul li.feat-c{
    background: #000 url("../images/feat-c.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.home-featured ul li.feat-d{
    background: #000 url("../images/feat-d.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-featured ul, .home-featured ul li{
    float: left;
}
.home-featured ul li .placeholder-info{
      height: 45%;
}

.home-featured ul li .info{
    width: 60%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
}  

.home-featured ul li .info h3{
    margin: 1em auto;
    height: 50px;
}  

.home-video .txt-wrap{
    width: 100%;
    top: 100px;
}

.home-video {
    padding: 0
}

.home-video .txt-wrap{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    height: 100%;
    top: 0;
    padding-top: 24%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.home-updates h3 {
    font-size: 2.500em;
    font-weight: 600
}

.home-updates h4 {
    font-size: 1.563em;
    font-weight: 600
}

.home-updates .updates-l {
    float: left;
    width: 63%;
    margin-top: 2em;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 1em 0
}

.home-updates .updates-l figure {
    position: relative
}

.home-updates .updates-l figure .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.home-updates .updates-l .icons {
    font-size: 2.5em;
    margin-top: .3em
}

.home-updates .updates-l .icons a {
    margin: 0 .2em;
    color: #fff
}

.home-updates .updates-l .icons a:hover {
    color: #f02d52
}

.home-updates .updates-r {
    float: left;
    width: 37%;
    background-color: #fff;
    padding: 3em
}

.home-updates .updates-r button {
    font-size: 1.250em;
    font-weight: 600;
    padding: .5em
}

.home-updates ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.home-updates ul li {
    border-bottom: 1px solid #000;
    padding: 1.5em 0
}

.home-updates ul li:last-of-type {
    border: 0
}

.home-updates ul a {
    color: #000
}

.home-updates ul a:hover {
    color: #191b1c
}

.home-updates ul .title {
    font-size: 1.563em;
    font-weight: 600
}

.home-updates ul .meta {
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 600
}

.home-section {
    margin-bottom: 0em
}

.video-slider {
    margin: 0;
    position: relative;
    background: #000;
}

.video-slider .item {
    margin: 0;
    position: relative;
    float: left;
    height: auto
}

.video-switcher .item{
    overflow: hidden
}

.video-slider .item a {
    color: #000
}

.video-slider .item figure {
    position: relative;
    font-size: 1.125em;
    color: #fff;
    text-transform: uppercase;
    overflow: hidden
}

.img-grow,
.video-slider .item figure img,
.video-switcher .item figure img{
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    width: 100%;
    height: auto;
    filter: grayscale(40%);
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.5) 100%);
}

.img-grow-hover,
.video-slider .item:hover img,
.video-switcher .item:hover img{
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1)
}

.video-slider .item figure:after,
.video-switcher .item figure:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:.5;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.video-slider .item figure:hover:after,
.video-switcher .item figure:hover:after {
    opacity:0;
}

.video-slider .item .txt-wrap {
    margin-top: 0;
    z-index: 10000;
}

.video-slider .item .txt-wrap .title {
    font-size: 1.563em;
    font-weight: 600
}

.video-slider .item:hover img {
    filter: grayscale(50%)
}

.video-slider .videos-prev,
.video-slider .videos-next {
    display: none;
    position: absolute;
    top: 35%;
    font-size: 3em;
    z-index: 999;
    border: 0;
    color: #191b1c;
    background: transparent
}

.video-slider .videos-prev:hover,
.video-slider .videos-next:hover {
    color: #f02d52
}

.video-slider .videos-prev {
    left: -.5em
}

.video-slider .videos-next {
    right: -.5em
}

.page {
    background-color: #fff
}

.page .page-header {
    background-color: #000;
    color: #fff;
    padding: 2em;
    text-align: center
}

.page .sub-page-header .entry-title{
    background-color: #d53b3e;
    color: #fff;
    padding: 0.5em;
    text-align: center;
}

.page .sub-page-contact .entry-title{
    background-color: #31b1bc;
}

.page .sub-page-programs .entry-title{
    background-color: #4db569;
}

.page .entry-zoninator ul li{
    display: inline-block;
    position: relative;
    width: 33.3%;
    text-align: center;
    float: left;
    min-height: 500px;
    border-right: 1px solid #ccc;
}

.page .entry-zoninator ul li img{
    width: 100%;
    border-right: none;
}

.page .entry-zoninator ul li .tt-cells{
    padding: 1em;
    font-size: 0.9em;
}

.page .entry-zoninator ul li .tt-cells-l, .page .entry-zoninator ul li .tt-cells-r{
    display: inline-block;
    width: 49%;
    text-align: left;
    position: relative;
}

.page .entry-zoninator ul li .tt-cells-l p, .page .entry-zoninator ul li .tt-cells-r p{
    color: #4db569;
    margin: 0.6em 0;
}

.page .entry-zoninator.entry-individuals .tt-cells{
    background:  #f4f4f4;
}

.page .entry-zoninator.entry-individuals ul {
    width: 100%;
    font-size: 0.8em;
    table-layout: fixed; /* optional */
}

.page .entry-zoninator.entry-individuals ul li{
    display: inline-block;
    width: 16.666%;
    text-align: center;
    position: relative;
    float: left;
    min-height: 200px;
    border-right: 1px solid #ccc;
}

.page .entry-zoninator.entry-individuals ul li img{
    width: 100%;
    margin: 0 auto;
}


.page .entry-zoninator.entry-themes{
    background:  #4db569;
}

.page .entry-zoninator.entry-themes ul li{
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;
    float: left;
    min-height: 200px;
    border-right: none;
}

.page .sub-page-about-us .entry-title{
    background-color: #31b1bc;
}

.page .about-us h2,
.page .about-mission h2,
.page .about-vision h2,
.page .about-beliefs h2,
.page .about-philiosophy h2{
    padding-top: 0.5em;
}

.page .about-us{
    padding: 1em;
}

.page .about-mission{
    background-color: #31b1bc;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 1em;
}

.page .about-vision{
    background-color: #4db569;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 1em;
}

.page .about-beliefs{
    background-color: #fff;
    color: #483a29;
    margin: 0 auto;
    width: 100%;
    padding: 1em 1.5em;
}

.page .about-beliefs h2{
    text-align: center;
}

.page .about-beliefs ul{
    list-style: disc;
}


.page .about-philiosophy{
    background-color: #d53b3e;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 1em;
}

.page .about-partner .tt-cells-r, .page .about-partner .tt-cells-l{
    display: inline-block;
    width: 49%;
    text-align: center;
    position: relative;
    vertical-align: bottom;
}

.page .about-partner .tt-cells-r{
    float: right;
    vertical-align: top;
    padding: 1.5em 1em;
    line-height: 1.3em;
}

.page .about-partner .tt-cells-r h2{
    font-weight: bold;
}

.page .about-partner .tt-cells-r p{
    font-size: 1em;
}

.page .about-partner .tt-cells-l img{
    width: 100%;
}

.page .about-partner .tt-play-button{
    position: absolute;
    top: 50%;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.page .sub-content-news .sidebar{
    float: left;
    display: inline-block;
    width: 22%;
    margin: 0.5em 1em;
    padding: 0 1em;
}

.page .sub-content-news .sidebar h3{
    margin: 1em 0 0.5em;
}

.page .sub-content-news .sidebar ul{
    list-style: disc;
}

.page .sub-content-news .sidebar ul li{
    padding: 0.5em 0;
}

.page .sub-content-news .entry-content{
    display: inline-block;
    width: 72%;
    border-left: 1px solid #ccc;
    margin: 1em 0;
    padding: 0 1em;
}

.page .sub-content-news .entry-content p:first-child{
    margin: 0;
}

.page .sub-content-news .entry-content p:first-child img{
    margin: 0;
}

.page .sub-content-news .entry-content-right{
    border-right: 1px solid #ccc;
    border-left: none;
}

.page .sub-content-news .sidebar-right{
    float: right;
}

.page .section-column{
    background-color: #483a29;
    color: #fff;
    margin: 0 auto;
    width: 100%;
    padding: 1em 1.5em;
    text-align: center;
}

.page .section-column p{
    display: inline-block;
    width: 22%;
    margin: 0;
    
}

.page .section-column.green-bg{
    background-color: #4db569;
}

.page .page-header h1 {
    font-size: 5em;
    line-height: 1em
}

.page .entry-content {
    font-size: 1.125em;
    line-height: 1.3em;
    padding: 1em 1.5em;
}

.page-template-page-about-us .entry-content {
    padding: 0;
}

.page .entry-content .individual-summer .tt-cells-l{
    display: inline-block;
    width: 78%;
    padding: 0;
}

.page .entry-content .individual-summer .tt-cells-r{
    display: inline-block;
    width: 18%;
    background: #eee;
    font-size: 0.8em;
    float: right;
}

.page .entry-content .individual-summer .tt-cells-r img{
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
}

.page .entry-content .individual-summer .tt-cells-r p{
    color: #4db569;
    padding: 0.5em 1em;
    width: 100%;
    margin: 0;
}

.page .entry-content .individual-summer .tt-cells-r div{
    padding: 0.5em 1em;
    font-family: "Montserrat Bold";
}

.page.share-story .page-header {
    padding-bottom: 0
}

.page.share-story .page-header h1 {
    font-size: 6.875em
}

.article {
    background-color: #fff
}

.article .page-header {
    color: #000;
    padding: 2em;
    text-align: center
}

.article .page-header h1 {
    font-size: 5em;
    line-height: 1em
}

.article .entry-content {
    font-size: 1.125em;
    line-height: 1.3em
}

.single-post {
    background-color: #fff
}

.single-post header {
    background-color: #4db569;
    color: #fff;
    text-align: center;
    margin: 0em 0 1em;
    padding:1em;
}

.single-post header h1 {
    font-size: 2em;
    line-height: 1em;
    overflow: hidden
}

.single-post header .meta {
    font-size: 1.125em;
    line-height: 1.3em;
    font-weight: 600
}

.single-post header .tags {
    font-size: 1.125em;
    font-weight: 600;
    color: #f02d52
}

.single-post header .tags a {
    color: #f02d52;
    display: inline;
    text-transform: capitalize
}

.single-post header .tags a:hover {
    color: #191b1c !important
}

.single-post .post-max {
    max-width: 960px;
    margin: 0 auto
}

.single-post .page-banner img {
    width: 100%;
    height: auto
}

.single-post .page-banner figcaption {
    color: #555;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    margin-top: .7em
}

.single-post .page-content {
    background-color: #fff
}

.single-post .entry-content {
    font-size: 1.250em;
    line-height: 1.3em;
    font-weight: 600
}

.single-post .entry-content h2 {
    font-family: "Montserrat";
    font-size: 2.500em
}

.single-post .entry-content h3 {
    font-family: "Montserrat";
    font-size: 2em
}

.page-template-page-ask .article .page-header {
    background-color: #fff;
    color: #252829;
    padding: 3em 0 0 0
}

.page-template-page-ask .article .page-header h1 {
    font-size: 6.875em;
    line-height: 1em
}

.page-template-page-ask .article .page-header h2 {
    font-size: 2.5em;
    line-height: 1.3em;
    margin-bottom: 1em
}

.page-template-page-ask .article .entry-content {
    width: 100%;
    padding: 0 2%;
    margin: 0 auto;
    text-align: left;
    color: #252829;
}

.page-template-page-ask .article .sub-entry-content .tt-cells, .page-template-page-ask .article .sub-entry-content .fscf-div-form {
    width: 60%;
    padding: 0;
    margin: 1.5em 1em 0;
    color: #252829;
    position: relative;
    display: inline-block;
    float: left;
    color: #483a29;
}

.page-template-page-ask .article .sub-entry-content .tt-cells{
    width: 25%;
    margin-left: 4em;
}

.fscf-div-form #fscf_captcha_field1, .fscf-div-form .fscf-div-captcha-m {
    text-align: left!important;
}

.page-template-page-ask .article .entry-content .tt-cells h2 {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1em;
    margin: 0.5em 0;
}

.page-template-page-ask .article .entry-content .tt-cells-l {
    margin-bottom: 2em;
}

.page-template-page-ask .article .entry-content .tt-cells p {
    font-size: 1em;
    line-height: 1em;
    margin: 0.5em 0
}

.page-template-page-ask .article .entry-content .ask-name,
.page-template-page-ask .article .entry-content .ask-message {
    font-size: 3.438em;
    line-height: 1.3em
}

.page-template-page-ask .article .entry-content .ask-message {
    font-size: 3em
}

.page-template-page-ask .article .entry-content .asks {
    font-size: 1.563em;
    margin: .6em 0;
    font-weight: 600
}

.page-template-page-ask .article .entry-content .share-question {
    text-transform: uppercase;
    color: #f02d52;
    font-size: 2.500em;
    font-weight: 600;
    margin: 1.5em 0 .5em 0
}

.page-template-page-ask .article .entry-content .addthis_toolbox a {
    color: #000;
    font-size: 3em;
    margin: 0 12px
}

#map{
    width: 100%;
    height: 350px
}

#fscf_div_clear1_4{
    float: left;
    width: 48%
}

#fscf_div_clear1_1{
    float: right;
    width: 48%
}

.fscf-div-form .fscf-div-label {
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    margin-bottom: .2em
}

.fscf-div-form input[type='text'],
.fscf-div-form textarea {
    font-size: 1.2em;
    background-color: #fff;
    border: 1px solid #ececec;
    margin-bottom: 0;
    width: 100%;
    padding: 6px
}

.fscf-div-form textarea {
    height: 200px
}

.fscf-div-submit{
    margin: 1em 0
}

.fscf-div-form input[type='submit'] {
    font-size: 1.2em;
    font-weight: 600;
    width: 30%;
    padding: 0.8em 1em;
    background: #31b1bc;
}

.fscf-div-form input[type='submit']:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.fscf-div-form .fscf-div-captcha-m {
    text-align: center
}

.fscf-div-form .fscf-div-captcha-m img {
    margin: 0 auto;
    float: left;
}

.fscf-div-form #fscf_captcha_field1 {
    text-align: center
}

.fscf-div-form input.fscf-input-captcha {
    width: 50%;
    text-align: center
}

.fscf-div-form #fscf_required1 {
    text-align: right
}

.comments-wrap {
    background-color: #fff;
    padding: 1.5em 0
}

.comments-wrap a {
    color: #f02d52
}

.comments-wrap a:hover {
    color: #191b1c
}

#archive {
    background-color: #fff
}

#archive .archive-header {
    background-color: #eaeaea;
    color: #f02d52;
    padding: 1em 0;
    text-align: center
}

#archive .archive-header h1 {
    font-weight: 600;
    font-size: 1.6em;
    text-transform: uppercase
}

#archive .archive-posts {
    padding: 1.5em 0;
    max-width: 800px;
    margin: 0 auto
}

#archive article .date {
    float: left;
    width: 14%;
    margin-right: 5%;
    color: #fff;
    text-align: center;
    font-size: 1.563em;
    font-weight: 600;
    text-transform: uppercase
}

#archive article .date .y {
    font-size: .7em;
    font-weight: 400
}

#archive article .content {
    float: left;
    width: 81%;
    border-bottom: 1px solid #000;
    padding-bottom: 2em;
    margin-bottom: 2em
}

#archive article .content header,
#archive article .content figure {
    margin-bottom: 1em
}

#archive article .content h2 {
    font-size: 4.063em;
    line-height: .8em
}

#archive article .content h2 a {
    color: #000
}

#archive article .content h2 a:hover {
    color: #f02d52
}

#archive article .content .meta {
    font-size: 1.250em;
    font-weight: 600;
    text-transform: uppercase
}

#archive article .content .entry-content {
    font-size: 1.250em;
    line-height: 1.4em;
    font-weight: 600
}

#archive article .content .more-link {
    color: #f02d52
}

#archive article .content .more-link:hover {
    color: #191b1c
}

#archive article .content p {
    margin: 0
}

#archive article:last-of-type .content {
    margin-bottom: 0;
    border: 0
}

.circle {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 0;
    padding: 50% 0;
    border-radius: 50%;
    background-color: #000;
    line-height: 0
}

.share-row {
    margin-bottom: 1.5em;
    padding-top: 1.5em
}

.share-row section {
    float: left;
    width: 50%;
    text-align: center
}

.share-row h4 {
    font-weight: 600;
    font-size: 1.250em
}

.share-row .share-services {
    font-size: 2em
}

.share-row .share-services a {
    color: #000;
    margin: 0 .5em
}

.share-row .share-services a:hover {
    color: #f02d52
}

.share-row.comm-1 section:first-of-type {
}

html.remodal-is-locked {
    overflow: hidden
}

.remodal,
[data-remodal-id] {
    display: none
}

.remodal-overlay {
    position: fixed;
    z-index: 9999;
    top: -5000px;
    right: -5000px;
    bottom: -5000px;
    left: -5000px;
    display: none
}

.remodal-wrapper {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;
    text-align: center;
    -webkit-overflow-scrolling: touch
}

.remodal-wrapper:after {
    display: inline-block;
    height: 100%;
    margin-left: -0.05em;
    content: ""
}

.remodal-overlay,
.remodal-wrapper {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.remodal {
    position: relative;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}

.remodal-is-initialized {
    display: inline-block
}

.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
    -webkit-filter: blur(3px);
    filter: blur(3px)
}

.remodal-overlay {
    background: rgba(0, 0, 0, 0.93);
    z-index: 9999999998
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.remodal-overlay.remodal-is-opening {
    -webkit-animation: remodal-overlay-opening-keyframes 0.3s;
    animation: remodal-overlay-opening-keyframes 0.3s
}

.remodal-overlay.remodal-is-closing {
    -webkit-animation: remodal-overlay-closing-keyframes 0.3s;
    animation: remodal-overlay-closing-keyframes 0.3s
}

.remodal-wrapper {
    padding: 10px 10px 0;
    z-index: 9999999999
}

.remodal {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 1em;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: #2b2e38;
    background: #fff;
    text-align: center
}

.remodal.video {
    color: #fff;
    background: transparent;
    margin: 0;
    padding: 0
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.remodal.remodal-is-opening {
    -webkit-animation: remodal-opening-keyframes 0.3s;
    animation: remodal-opening-keyframes 0.3s
}

.remodal.remodal-is-closing {
    -webkit-animation: remodal-closing-keyframes 0.3s;
    animation: remodal-closing-keyframes 0.3s
}

.remodal,
.remodal-wrapper:after {
    vertical-align: middle
}

.remodal-close {
    position: absolute;
    top: -17.5px;
    right: -17.5px;
    display: block;
    overflow: visible;
    width: 35px;
    height: 35px;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    outline: 0;
    font-size: 20px;
    background-color: #f02d52;
    color: #fff;
    line-height: 35px;
    z-index: 999999;
    text-align: center
}

.remodal-close:hover {
    background-color: #000
}

.remodal.video .remodal-close {
    float: right;
    position: relative;
    right: 0;
    top: 0
}

@-webkit-keyframes remodal-opening-keyframes {
    from {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes remodal-opening-keyframes {
    from {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@-webkit-keyframes remodal-closing-keyframes {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    to {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        opacity: 0
    }
}

@keyframes remodal-closing-keyframes {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    to {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        opacity: 0
    }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes remodal-overlay-opening-keyframes {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes remodal-overlay-closing-keyframes {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@media only screen and (min-width: 641px) {
    .remodal {
        max-width: 700px
    }
    .remodal.video {
        max-width: 75%
    }
}

@media only screen and (max-width: 768px) {
    .remodal.video {
        max-width: 100%
    }
}

.lt-ie9 .remodal-overlay {
    background: #2b2e38
}

.lt-ie9 .remodal {
    width: 700px
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block
}

.slick-track:before,
.slick-track:after {
    content: "";
    display: table
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none
}

[dir="rtl"] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: 'ò';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black
}
.slick-next {
    right: -15px;
}
.slick-prev {
    left: -15px;
}  
.slick-prev, .slick-next {

    font-size: 4em;
    line-height: 0;
    position: absolute;
    top: 35%;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    z-index: 999999;
}

.morechoices {
    border: 1px solid #666;
    font: 400 1em "Montserrat", arial;
    color: #1e1e1e;
    background: #292f2a !important;
    padding: 0 0 4em 0;
    margin: 0 0 1em 0
}

.morechoices img {
    width: 100%;
    height: auto
}

.morechoices a {
    color: #1e1e1e
}

.morechoices h2,
.morechoices h3,
.morechoices h4 {
    font-weight: 300
}

.morechoices h2 {
    background: #000;
    padding: 1.25em 1em;
    margin: 0;
    font-size: 2em;
    color: #6b722a !important
}

.morechoices .more-top {
    background-color: #fff;
    padding: 1.25em 1em
}

.morechoices .more-top .more-top-left {
    float: left;
    width: 40%;
    font-size: 2em;
    color: #6b722a
}

.morechoices .more-top .more-top-right {
    float: left;
    width: 60%;
    text-align: right;
    margin-top: .25em
}

.morechoices .more-top .more-top-right a {
    cursor: pointer
}

.morechoices .more-top .more-top-right .common-share {
    display: inline;
    float: right
}

.morechoices .more-top .more-top-right .label {
    font-size: 1.5em;
    color: #6b722a;
    border: 0
}

.morechoices .more-top .more-top-right li {
    margin-right: .5em
}

.morechoices .more-top .more-top-right li:last-of-type {
    margin-right: 0
}

.morechoices .choice {
    width: 50%;
    padding: 2.5em 2em 2em 2em
}

.morechoices .choice h4 {
    margin: 0;
    padding: .5em 0;
    font-size: 1.2em;
    font-weight: 400;
    color: #fff
}

.morechoices .choice .choiceimage {
    position: relative
}

.morechoices .choice div.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.8)
}

.morechoices .choice h3 {
    padding: 0;
    margin: 0;
    font: 600 1.3em 'Montserrat';
    line-height: 1.2em
}

.morechoices .choice p {
    padding: 0;
    margin: 0
}

.morechoices .leftchoice {
    float: left;
    padding-right: 1em
}

.morechoices .leftchoice h4 {
    background-color: #6b722a;
    padding: .5em .5em
}

.morechoices .rightchoice {
    float: right;
    padding-left: 1em
}

.sys-form-head {
    background-color: #000
}

.sys-form-head .title {
    display: none
}

.sys-form-head .teaser {
    width: 100%;
    color: #fff;
    text-align: center;
    margin-bottom: 1.5em
}

.sys-form-head .teaser .dek {
    max-width: 600px;
    margin: 0 auto;
    font-size: 2em;
    font-weight: 600
}

.sys-form-head .form-right {
    width: 100%;
    text-align: center
}

.sys-form-head .form-right .togglesysform {
    display: inline-block;
    width: 250px;
    margin: 0 auto;
    font-size: 1.4em;
    font-weight: 600;
    padding: .5em
}

.sys-form-head .form-right .togglesysform:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

#shareyourstory {
    margin: 1.5em 0
}

#shareyourstory .sys-form {
    max-width: 475px;
    margin: 0 auto;
    border: 0;
    padding: 0
}

#shareyourstory .sys-form .form-left {
    width: 100%
}

#shareyourstory .sys-form .form-right {
    width: 100%
}

#shareyourstory .sys-form label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2em
}

#shareyourstory .sys-form input,
#shareyourstory .sys-form textarea {
    font-size: 1.2em;
    background-color: #ececec;
    border: 1px solid #ececec
}

#shareyourstory .sys-form textarea {
    height: 300px
}

#shareyourstory .sys-form button {
    font-size: 2em;
    font-weight: 600
}

#shareyourstory .sys-form button:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

#story-wall-wrap {
    background-color: #000
}

#sys-story-wall {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 2em
}

.storybox {
    background: #fff;
    border: 0
}

.storybox .photo {
    padding: 1em 1em 0 1em;
    background-color: #fff
}

.storybox .pad {
    padding: 1em
}

.storybox h2.name {
    font-size: 1.6em;
    font-weight: 600;
    color: #f02d52
}

.storybox h3.location {
    color: #000;
    font-size: 1.125em;
    font-weight: 600
}

.storybox p {
    font-size: 1.125em;
    color: #000
}

.storybox .share-prompt {
    padding: .5em 0 .5em .8em;
    font-size: 1.125em;
    font-weight: 600
}

.storybox .share-prompt:hover {
    color: #fff
}

.sys-thanks {
    margin-top: 1em;
    text-align: center;
    color: #2b2c2c
}

.sys-thanks h1 {
    font-size: 6.875em;
    line-height: 1em
}

.sys-thanks p {
    font-size: 1.3em;
    line-height: 1.3em
}

.remodal.sys {
    background-color: #e4dddd
}

.remodal.sys .remodal-close {
    color: #000
}

.single-share .sys-single {
    margin: 0
}

.single-share .sys-single .entry-header {
    max-width: 900px;
    margin: 1.5em auto 1em auto;
    padding: 0 3%;
    border: 0
}

.single-share .sys-single .entry-header h1 {
    font-size: 2em;
    font-weight: 600;
    color: #f02d52;
    text-transform: uppercase
}

.single-share .sys-single .entry-header h3 {
    color: #000;
    font-size: 1.125em;
    font-weight: 600;
    text-transform: uppercase
}

.single-share .sys-single p {
    margin: 0 0 1em 0
}

.single-share .sys-single .entry-content p {
    margin: 0 0 1em 0
}

.single-share .sys-single img {
    max-width: 100%;
    height: auto
}

.single-share .sys-single .sys-photo,
.single-share .sys-single .content-wrap {
    float: none;
    max-width: 900px;
    margin: 0 auto 0 auto;
    padding: 0 3%
}

.single-share .sys-single .sys-photo.horizontal,
.single-share .sys-single .content-wrap.horizontal {
    margin: 0 auto 1.5em auto
}

.single-share .sys-single .sys-photo.vertical {
    width: 45%;
    margin: 0 3% 0 0
}

.single-share .sys-single .content-wrap.vertical {
    width: 52%;
    margin: 0
}

.single-share .sys-single .see-all-sys {
    margin: 1em 0
}

.single-share .sys-single .see-all-sys a {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: .5em;
    text-align: center;
    color: #fff;
    background-color: #666;
    font-size: 1.1em
}

.single-share .sys-single .see-all-sys a:hover {
    background-color: #000
}

.single-share .sys-single .post-navigation .nav-links {
    border-bottom: 0
}

.sys-single .sys-form-head .title.inform {
    display: block;
    padding: 1em 0;
    font-size: 1em;
    line-height: 1em
}

.sys-single .sys-form-head .title.inform a {
    color: #fff;
    font-size: 5em;
    line-height: 1em
}

.see-all-sys-top {
    display: none
}

.see-all-sys {
    text-transform: uppercase;
    font-weight: 600
}

@media screen and (max-width: 480px) {
    #story-wall-wrap {
        padding: 3%
    }
    #sys-story-wall {
        padding-top: 2%
    }
    .sys-form-head {
        margin: 0
    }
    #shareyourstory {
        padding: 0 3%
    }
    .sys-form-head .teaser {
        margin-bottom: 1em
    }
    .sys-form-head .teaser .dek {
        font-size: 1.125em
    }
}

@media screen and (min-width: 901px) {
    .no-desktop,
    .touch-only {
        display: none
    }
    .no-touch-device {
        display: block
    }
    .snap-content {
        position: static
    }
    .site-title {
        max-width: 421px
    }
    .pullquote span {
        font-size: 2.7em
    }
    .pullquote.left {
        margin: 0 1.5em 1.5em -3em
    }
    .pullquote.right {
        margin: 0 -3em 1.5em 1.5em
    }
    .parallax-window {
        min-height: 600px
    }
    .parallax-window.page-banner {
        min-height: 500px
    }
}

@media screen and (min-width: 1401px) and (max-width: 1800px) {
    .home-question{
      right: 16%;
    }
}

@media screen and (min-width: 481px) and (max-width: 1400px) {
    .home-question{
      right: 6%;
    }
}

@media screen and (max-width: 480px){
    .home-question{
      right: 6%;
    }
}

@media screen and (min-width: 901px) and (max-width: 1280px) {
    .touch-inset {
        padding: 0
    }
    #masthead nav {
        right: 0
    } 
    .home-video .txt-wrap{
        padding-top: 20%;
    }
    .home-video .txt-wrap .title{
        font-size: 130%;
    }
    #footer .foot-l .m-top{
        top: 30px;
        width: 30%;
    }
    #footer .foot-l .r-top{
        top: 20px;
    }
}

@media screen and (min-width: 481px) and (max-width: 900px) {
    #snapwrap {
        margin-top: 0
    }
    .screen-pad {
        padding: 0 3%
    }
    .no-mobile,
    .no-touch-device,
    .links-nav{
        display: none !important
    }
    .touch-only,
    .mobile-only {
        display: block
    }
    .mobile-only-inline {
        display: inline-block !important
    }
    .padded {
        padding: 2%
    }
    .touch-padding {
        padding: 1% 2%
    }
    .touch-inset {
        padding: 0
    }
    #site {
        padding: 0
    }
    #innerwrap.padded {
        padding: 2%
    }
    .pullquote.left {
        margin: 0 1.5em 1.5em -1.5%
    }
    .pullquote.right {
        margin: 0 -1.5% 1.5em 1.5em
    }
    #masthead {
        padding: 0
    }
    #masthead nav {
        right: 2%
    }
    #masthead .logo img {
        max-height: 130px
    }
    #footer {
        padding: 0;
        font-size: .8em
    }    
    #footer .touch-break {
        display: block;
        font-size: 2em;
        margin-top: 0;
    }
    #footer .footer-menu li {
        margin: 0 .25em
    }
    #footer .foot-l .r-top{
        display: none;
    }
    #footer .foot-l {
        margin: 0;
        text-align: center;
        width: 100%;
        padding: 1em!important;
    }
    #footer .foot-l .foot-sub-l{
        width: 100%;
    }
    #footer .foot-l .top .footer-menu .touch-break {
        font-size: 1em
    }
    #footer .foot-l .bottom{
        margin: 2em 0 0 0;
    }
    #footer .foot-l .bottom .footer-menu{
        font-size: 1.2em;
        padding: 0;
    }
    #footer .foot-l .bottom .footer-menu li{
        display: block;
        width: 100%;
        padding: 0.5em;
    }
    #footer .foot-l .m-top{
        top: 0;
        width: 100%;
    }
    #footer .foot-r{
        text-align: center;
        width: 100%;
    }
    #footer .foot-r img, #footer .foot-l .foot-sub-l img {
        text-align: center;
        width: 50%;
        margin: auto;
    }
    .home-video .txt-wrap{
        padding-top: 18%;
    }
    .home-about {
        margin-top: 0;
        width: 100%
    }
    .home-about .about-l {
        width: 100% !important;
        margin: 0
    }
    .home-updates h3 {
        font-size: 2em
    }
    .home-updates h4 {
        font-size: 1.3em
    }
    .home-updates .updates-l {
        width: 60%;
        margin-top: 1em;
        padding: 1em 0
    }
    .home-updates .updates-l .icons {
        font-size: 1.5em
    }
    .home-updates .updates-l .icons a {
        margin: 0 0.4em
    }
    .home-updates .updates-r {
        width: 42%
    }
    .home-featured ul li{
        width: 50%;
    }
    .home-featured ul li .info h3{
        width: auto;
        text-align: center;
    }
    .home-question .line2{
        width: 100%;
    }
    .page .entry-zoninator.entry-individuals ul li{
        width: 50%;
        border-top: 1px solid #ccc;
    }
    .page .entry-zoninator.entry-themes ul li, .page .entry-zoninator ul li .tt-cells-l, .page .entry-zoninator ul li .tt-cells-r{
        width: 100%;
    }
    .page .entry-zoninator ul li{
        border-right: none;
    }
    .page .sub-content-news .sidebar, .page .sub-content-news .sidebar-right{
        width: 90%;
    }
    .page .sub-content-news .entry-content, .page .sub-content-news .entry-content-right{
        width: 100%;
        border-left: none;
        border-right: none;
        padding: 0;
    }
    .page .sub-content-news .sidebar h3{
        margin: 0.5em 0em
    }
    .page-template-page-ask .article .sub-entry-content .fscf-div-form{
        width: 100%;
        margin: 0
    }
    .page-template-page-ask .article .sub-entry-content .tt-cells{
        width: 100%;
        margin: 0 0 1em
    }
    .video-slider .item {
        margin: 0
    }
    .video-slider .item figure {
        font-size: 1em
    }
    .video-slider .item .txt-wrap .title {
        font-size: 1.125em
    }
    .video-slider .videos-prev,
    .video-slider .videos-next {
        top: 25%;
        font-size: 3em
    }
    #archive article .date {
        font-size: 1.25em
    }
    #footer .bottom .footer-menu li{
        margin: 0;
    }
    .tt-cells-l, .tt-cells-r{
        width: 100%!important;
    }
    .tt-button-mobile{
        display: block
    }

}

@media screen and (max-width: 900px) {

    #masthead .menutoggle {
        display: block;
    }
    
    .home-message {
      width: 85%;
    }
    
}

@media screen and (max-width: 480px) {
    #pbs_id {
        padding-top: 0 !important
    }
    #snapwrap {
        margin-top: 0
    }
    .screen-pad {
        padding: 0 3%
    }
    .no-mobile,
    .no-touch-device,
    .links-nav{
        display: none !important
    }
    .touch-only,
    .mobile-only {
        display: block
    }
    .mobile-only-inline {
        display: inline-block !important
    }
    .padded {
        padding: 3%
    }
    .mob-100 {
        width: 100% !important
    }
    .touch-inset {
        padding: 0
    }

    
    #site {
        padding: 0
    }
    .pullquote {
        width: 100%;
        text-align: center;
        float: none !important
    }
    .pullquote span {
        font-size: 2em;
        color: #191b1c
    }
    .pullquote.left,
    .pullquote.right {
        margin: 0 1.5em 1.5em 0;
        border-left: 0;
        border-right: 0;
        padding: 1em 0
    }
    #masthead {
        padding:0
    }
    #masthead .logo {
        width: 80%;
        float: left;
        margin: 0 auto
    }
    #masthead .menutoggle {
        margin-top: 3%
    }
    #masthead .logo-nav{
        padding: 0 2em 0 0;
    }
    #footer {
        padding: 0;
        font-size: .8em
    }    
    #footer .touch-break {
        display: block;
        font-size: 2em;
        margin-top: 0;
    }
    #footer .footer-menu li {
        margin: 0 .25em
    }
    #footer .foot-l .r-top{
        display: none;
    }
    #footer .foot-l {
        margin: 0;
        text-align: center;
        padding: 1em!important;
    }
    #footer .foot-l .foot-sub-l{
        width: 100%;
    }
    #footer .foot-l .top .footer-menu .touch-break {
        font-size: 1em
    }
    #footer .foot-l .bottom{
        margin: 2em 0 0 0;
    }
    #footer .foot-l .bottom .footer-menu{
        font-size: 1.25em;
        padding: 0;
    }
    #footer .foot-l .bottom .footer-menu li{
        display: block;
        width: 100%;
        padding: 0.5em;
    }
    #footer .foot-l .foot-sub-l img, #footer .foot-l .m-top{
        width: 100%;
    }
    #footer .foot-l .m-top{
        top: 0;
    }
    #footer .foot-r {
        text-align: center
    }
    #footer .bottom .footer-menu li{
        margin: 0;
    }
    .home-question button {
        font-size: 1.2em;
        padding: 0.4em 0
    }
    .home-question .line1 {
        font-size: 1.125em
    }
    .home-question .line2 {
        font-size: 2.2em;
        width: 100%;
    }
    .home-about {
        margin-top: -1em;
        width: 100%;
        text-align: center
    }
    .home-about .about-l {
        margin: 0 0 1.5em 0;
        padding: 0 2em;
    }
    .home-about p {
        font-size: 1.125em
    }
    .home-featured ul li{
        width: 100%;
    }
    .home-featured ul li h3 {
        width: 70%;
    }
    .home-updates h3 {
        font-size: 1.7em
    }
    .home-updates h4 {
        font-size: 1em
    }
    .home-updates .updates-l {
        padding: .5em 0;
        margin: 0 0 1.5em 0
    }
    .home-updates .updates-l .icons {
        font-size: 1.4em
    }
    .home-updates .updates-r {
        padding: 1em
    }
    .home-mission{
        padding: 0 1em 1em;
    }
    .page .sub-content-news .sidebar, .page .sub-content-news .sidebar-right{
        width: 90%;
    }
    .page .sub-content-news .entry-content, .page .sub-content-news .entry-content-right{
        width: 100%;
        border-left: none;
        border-right: none;
        padding: 1em;
    }
    .page .sub-content-news .sidebar h3{
        margin: 0.5em 0em
    }
    .page .entry-zoninator ul li, .page .entry-zoninator .tt-cells{
        width: 100%;
        border-right: none;
    }
    .page .entry-zoninator ul li{
        height: 500px;
    }
    .page .entry-zoninator.entry-themes ul li{
        width: 100%;
        border-right: none;
        height: 340px;
    }
    .page .entry-zoninator.entry-individuals ul li{
        width: 100%;
        border-bottom: 1px solid #ccc;
        height: auto;
    }
    .page-template-page-ask .article .sub-entry-content .fscf-div-form{
        width: 100%;
        margin: 0
    }
    .page-template-page-ask .article .sub-entry-content .tt-cells{
        width: 100%;
        margin: 0 0 1em
    }
    .video-slider {
        margin: 0
    }
    .video-slider .item {
        margin: 0
    }
    .video-slider .item figure {
        font-size: 1em
    }
    .video-slider .item .txt-wrap .title {
        font-size: 1.125em
    }
    .video-slider .videos-prev,
    .video-slider .videos-next {
        top: 30%;
        font-size: 3em;
        color: rgba(240, 45, 82, 0.7);
        padding: .1em .3em
    }
    .video-slider .videos-prev {
        left: 0
    }
    .video-slider .videos-next {
        right: 0
    }
    .page .page-header {
        padding: 3%
    }
    .page .page-header h1 {
        font-size: 2.5em
    }
    .page .entry-content {
        font-size: 1em
    }
    .page-template-page-ask .article .page-header {
        padding: 2em 0 0 0
    }
    .page-template-page-ask .article .page-header h1 {
        font-size: 3.5em
    }
    .page-template-page-ask .article .entry-content p {
        font-size: 1.5em
    }
    #archive article .mob-date {
        display: inline !important
    }
    #archive article .pipe {
        color: #f02d52
    }
    #archive article .content {
        width: 100%
    }
    #archive article .content h2 {
        font-size: 2.5em
    }
    #archive article .content .meta {
        font-size: 1em
    }
    #archive article .content .entry-content {
        font-size: 1em
    }    
    #fscf_div_clear1_4, #fscf_div_clear1_1, .fscf-div-form input[type='submit']{
        width: 100%
    }
    .ajax-button.ajax-load-updates {
        margin-left: 0
    }
    .share-row {
        margin: 0
    }
    .share-row section {
        width: 100%;
        margin-bottom: 1.5em
    }
    .page .section-column p {
        width: 100%;
        margin: 1em 0;
    }
    .share-row.comm-1 section:first-of-type {
        border: 0
    }
    .post-navigation {
        text-align: center
    }
    .post-navigation .fa {
        display: none
    }
    .post-navigation .nav-links-previous {
        width: 100%;
        padding: 0;
        border: 0
    }
    .post-navigation .nav-links-next {
        width: 100%;
        text-align: center;
        padding: 1.5em 0 0 0
    }
    .tt-cells-l, .tt-cells-r{
        width: 100%!important;
    }
    .tt-button-mobile{
        display: block
    }
}

@media print {
    #stickyhead,
    #sharepage,
    #morefeatures,
    #disqus_thread,
    .footer-social,
    .footer-menu-site,
    .footer-menu-pbs,
    .video-wrapper {
        display: none
    }
    .footer-credits {
        width: 100%
    }
    .inset {
        padding: 0
    }
    .single #content:after,
    .single-video #content:after {
        display: none
    }
}