@import url('https://fonts.googleapis.com/css?family=Dosis:400,600');

* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline: none;}
.cf:before, .cf:after {content:""; display:table;}
.cf:after, .clear {clear:both;}
.cf {*zoom:1;}




	body {font: 400 16px 'Dosis', arial; color: #000;}
	.sys-single, .media-wrap {background-color: #e4dddd;}
	.padding {padding: 1em;}
	
	header h2 {font-size:1.6em; font-weight: 600; color: #f02d52;}
	header h3 {color: #000; font-size: 1.125em; font-weight: 600;}
	
	.entry-content {font-size: 1.125em; line-height: 1.3em;}
	

	
	
	
@media only screen and (min-width: 641px) {
	.media-wrap.vertical {float: left; width: 40%;}	
	.media-wrap.vertical img {width: 100%; height: auto;}
	.story-content.vertical {float: left; width: 60%;}
	
	
	
	
}		


@media screen and ( max-width: 480px ) {
.head-left, .head-right {width: 100%; margin: 0 0 1em 0;}
	.head-right {text-align: left;}
}