<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Camp Eagle</title>
	<atom:link href="http://bashdog.com/feed/" rel="self" type="application/rss+xml" />
	<link>http://bashdog.com</link>
	<description>Change Forever. Now.</description>
	<lastBuildDate>Sat, 17 Jun 2017 16:09:30 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7.5</generator>
	<item>
		<title>update # 3</title>
		<link>http://bashdog.com/2016/12/16/update-3/</link>
		<comments>http://bashdog.com/2016/12/16/update-3/#respond</comments>
		<pubDate>Fri, 16 Dec 2016 17:09:37 +0000</pubDate>
		<dc:creator><![CDATA[]]></dc:creator>
				<category><![CDATA[Updates]]></category>
		<category><![CDATA[Scrappy]]></category>
		<category><![CDATA[Test]]></category>
		<category><![CDATA[Test 123]]></category>

		<guid isPermaLink="false">http://bashdog.com/?p=39</guid>
		<description><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo tellus nec consequat egestas. Mauris blandit nisl quis magna semper eleifend. Morbi faucibus purus odio, in vestibulum nisl blandit sed. Morbi malesuada imperdiet purus, id bibendum mauris gravida in. Etiam mattis nulla ut congue accumsan. Pellentesque ut nibh diam. Etiam sapien mauris, cursus ac nibh &#8230; <a href="http://bashdog.com/2016/12/16/update-3/" class="more-link">Continue reading<span class="screen-reader-text"> "update # 3"</span></a></p>
<p>The post <a rel="nofollow" href="http://bashdog.com/2016/12/16/update-3/">update # 3</a> appeared first on <a rel="nofollow" href="http://bashdog.com">Camp Eagle</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo tellus nec consequat egestas. Mauris blandit nisl quis magna semper eleifend. Morbi faucibus purus odio, in vestibulum nisl blandit sed. </p>
<div class="pullquote right"><span>Phasellus ultricies, ipsum malesuada tempor aliquam, massa massa mattis lorem, consectetur dictum ligula libero at orci. Aliquam quis faucibus risus. Suspendisse potenti.</span></div>
<p>Morbi malesuada imperdiet purus, id bibendum mauris gravida in. Etiam mattis nulla ut congue accumsan. Pellentesque ut nibh diam. Etiam sapien mauris, cursus ac nibh rutrum, congue luctus tortor. Sed eu accumsan neque. Nulla auctor odio tempus lacinia varius. Nam ut suscipit risus, at malesuada elit. Vestibulum scelerisque sapien eu arcu mattis, at vulputate justo lobortis.</p>
<p>Suspendisse id euismod orci. Donec semper a ligula ac volutpat. Duis consequat consequat erat, et pulvinar ex tristique sed. Aenean iaculis congue porta. Integer pharetra purus mattis dignissim vehicula. Phasellus varius libero quis pharetra ultricies. Sed iaculis, mauris non auctor cursus, enim neque vehicula tellus, et dictum purus ligula et metus. Etiam nec tristique dui. Morbi eleifend nisl id elit tincidunt, vitae bibendum sem vulputate. Aliquam id nulla tortor. Fusce finibus arcu maximus, elementum lacus eget, efficitur dui. Nunc sagittis blandit augue, id congue turpis tempus vulputate. Aliquam non vehicula justo. Quisque in consectetur ligula. In ut vestibulum enim.</p>
<p>Nulla vestibulum mauris sed facilisis varius. Curabitur tempus urna at pretium sodales. In in tempor nulla. Aenean sapien lorem, porttitor id vulputate ut, scelerisque sit amet eros. Fusce ultrices quam eget justo aliquam, vitae venenatis nunc hendrerit. Nullam blandit felis lorem, vitae commodo nisi volutpat maximus. Phasellus vehicula eros nec malesuada facilisis. Etiam vitae laoreet velit. Sed mollis, justo cursus fermentum lacinia, enim lorem congue enim, nec elementum erat velit et mauris. In hac habitasse platea dictumst. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi eu tortor magna. In et ligula nunc. Nulla dictum, elit vitae sodales suscipit, elit sem mattis leo, non consequat leo lacus vitae turpis.</p>
<p>Morbi sodales ut ex quis pretium. Suspendisse consectetur mauris justo, eu fermentum elit condimentum sed. Suspendisse bibendum massa erat, id tristique tellus sodales non. </p>
<div class="pullquote left"><span>Phasellus ultricies, ipsum malesuada tempor aliquam.</span></div>
<p>Morbi vitae nisi nulla. Aliquam facilisis iaculis diam nec luctus. Fusce elementum, lectus quis tempus varius, quam eros volutpat leo, ac efficitur lectus lectus id diam. Curabitur vel orci consectetur, porta est tempor, vehicula mauris. Duis eget nisl sit amet libero efficitur molestie vel a enim. Aenean pretium mollis erat sed blandit. Pellentesque in rutrum enim. Sed euismod faucibus sollicitudin.</p>
<p>Fusce urna odio, consequat vel pellentesque quis, vestibulum eu eros. Aliquam porttitor luctus libero. In euismod urna vel turpis pretium euismod. Vestibulum at orci et diam ultrices hendrerit. Etiam fringilla accumsan tellus, et mollis elit iaculis et. Ut varius eleifend magna eu condimentum. Quisque vulputate velit sed magna vestibulum scelerisque. Ut tincidunt nisl et tempor posuere. Aenean vestibulum faucibus dui, at venenatis ligula viverra nec. Proin gravida suscipit justo quis egestas. Nam facilisis odio viverra est convallis posuere a id quam. Mauris tempor metus eu fringilla porttitor. Integer consectetur velit id lobortis consectetur.</p>
<p>The post <a rel="nofollow" href="http://bashdog.com/2016/12/16/update-3/">update # 3</a> appeared first on <a rel="nofollow" href="http://bashdog.com">Camp Eagle</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://bashdog.com/2016/12/16/update-3/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>placeholder update 2</title>
		<link>http://bashdog.com/2016/12/16/placeholder-update-2/</link>
		<comments>http://bashdog.com/2016/12/16/placeholder-update-2/#respond</comments>
		<pubDate>Fri, 16 Dec 2016 17:09:25 +0000</pubDate>
		<dc:creator><![CDATA[]]></dc:creator>
				<category><![CDATA[Updates]]></category>

		<guid isPermaLink="false">http://bashdog.com/?p=37</guid>
		<description><![CDATA[<p>fghd hhfj</p>
<p>The post <a rel="nofollow" href="http://bashdog.com/2016/12/16/placeholder-update-2/">placeholder update 2</a> appeared first on <a rel="nofollow" href="http://bashdog.com">Camp Eagle</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>fghd hhfj</p>
<p>The post <a rel="nofollow" href="http://bashdog.com/2016/12/16/placeholder-update-2/">placeholder update 2</a> appeared first on <a rel="nofollow" href="http://bashdog.com">Camp Eagle</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://bashdog.com/2016/12/16/placeholder-update-2/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
