.my_meta_control .description { display:none; }
.my_meta_control label { display:block; font-weight:bold; margin:6px; margin-bottom:0; margin-top:12px; }
.my_meta_control label span { display:inline; font-weight:normal; }
.my_meta_control span { color:#999; display:block; }
.my_meta_control textarea, .my_meta_control input[type='text'], .postmeta input[type='text'], 
.postmeta textarea { margin-bottom:3px; width:80%; }
.my_meta_control h4 { color:#999; font-size:1em; margin:15px 6px; text-transform:uppercase; }

.help {border: 1px solid #ccc; -webkit-border-radius: .6em; -moz-border-radius: .6em; border-radius: .6em; padding: 5px; background-color: #ffffe8; margin-top: 8px; font: normal 12px arial;}
.help .title {font: bold 14px arial; }
.help b {color: #ff0000;}

.postmeta fieldset { padding: 1em;  border: 1px solid #666;  margin-bottom: 7px; background-color: #ebeaea;}
.postmeta label { float:left; width:25%; margin-right:0.5em;  padding-top:0.2em;  text-align:right; font: bold 13px arial;}
.postmeta label.icon { float:none; width:auto; display: inline; margin-right:0.5em;  padding-top:0; text-align:left; font-size: 14px;}
.postmeta-note {font: normal 10px verdana; color: #666; margin-top: 3px; }
.postmeta-note b {color: #ff0000; }  

.postmeta fieldset.ref {background-color: #ffffcc;}
.postmeta .intro {font: normal 11px arial; color: #ff3333; margin-bottom: 6px; }
.red {color:#cc0000;}
.count {color: #ff0000; float: right;} 

.postmeta th {text-align: right; padding-right: 6px;}